extends ../layouts/admin-layout.pug

block content
    if(action!=="undefined" && action==="create")
        .alert.alert-success.alert-dismissible.fade.show(role='alert')
            strong Hizmet Başarılı Bir Şekilde Eklendi
    if(action!=="undefined" && action==="delete")
        .alert.alert-warning.alert-dismissible.fade.show(role='alert')
            strong Hizmet Başarılı Bir Şekilde Silindi
    if(action!=="undefined" && action==="edit")
        .alert.alert-info.alert-dismissible.fade.show(role='alert')
            strong Hizmet Ayarları Başarılı Bir Şekilde Güncellendi

        
    script.
        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove(); 
            });
        }, 2000);
    .row.clearfix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .form-group.row
                .card.text-center.bg-blue-grey
                    .header
                        h2.text-white
                            | HİZMETLER
    .row.clearfix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            
            .card
                if isAdmin
                
                    a(href="/admin/add-aboutservices").btn.bg-blue-grey.btn-sm
                        span 
                            i.fas.fa-plus.fa-xs.mr-2
                        | Yeni Hizmet Ekleme

                if aboutservices.length > 0
                    .body
                        .table-responsive
                            table.table.table-bordered.table-striped.table-hover.dataTable.js-exportable.text-center
                                thead.bg-blue-grey
                                    tr
                                        th(scope="col").align-middle #
                                        th Hizmet Resmi
                                        th Hizmet Adı
                                        th Yazar
                                        th Tarih
                                        th Aktif
                                        if isAdmin
                                            th
                                            

                                tfoot.bg-blue-grey
                                    tr
                                        th(scope="col").align-middle #
                                        th Hizmet Resmi
                                        th Hizmet Adı
                                        th Yazar
                                        th Tarih
                                        th Aktif
                                        if isAdmin
                                            th
                                tbody
                                    -var index=1;
                                    each aboutservice in aboutservices                
                                        tr
                                            td(scope="row").align-middle #{index++}
                                            td 
                                                img(src=`/img/${aboutservice.imageUrl}` width='80')
                                            td.align-middle #{aboutservice.name}
                                            td.align-middle #{aboutservice.userId.name}
                                            td.align-middle #{aboutservice.date.getDate()+"/"+aboutservice.date.getMonth()+"/"+aboutservice.date.getFullYear()}
                                                br
                                                |#{aboutservice.date.getHours()+":"+ aboutservice.date.getMinutes()+" "}
                                            td.align-middle 
                                                i(class=(aboutservice.isActive ? "text-success fas fa-check-circle" : "text-danger fas fa-times-circle")).fa-2x
                                            if isAdmin
                                                td.align-middle.position-relative
                                                    a.btn.btn-warning.btn-sm(href=`/admin/aboutservices/${aboutservice._id}`) 
                                                        span 
                                                            i.fas.fa-edit.fa-xs
                                                    form(action="/admin/delete-aboutservices" method="POST")
                                                        input(type="hidden" name="_csrf" value=`${csrfToken}`)  
                                                        input(type="hidden" name="aboutserviceid" value=`${aboutservice._id}`)
                                                        button(type="submit" style="height:40px; width:40px;").btn.btn-danger.btn-sm
                                                            span 
                                                                i.fas.fa-trash-alt.fa-xs
                else
                    p.text-center.align-middle Herhangi Bir Hizmet Mevcut Değil
block script    
    include ../admin/includes/tablescript.pug
