extends ../layouts/admin-layout.pug

block styles
    link(rel="stylesheet" href="/css/forms.css")

block content
    form(action="/admin/add-system" method="POST" enctype="multipart/form-data")
        input(type="hidden" name="_csrf" value=`${csrfToken}`)  

        .form-group.row
            label(for="siteUrl").col-sm-2.col-form-label Product siteUrl
            .col-sm-10
                input.form-control#siteUrl(type="text" name="siteUrl" value=`${inputs.siteUrl}`)  

        .form-group.row
            label(for="language").col-sm-2.col-form-label language
            .col-sm-10
                input.form-control#language(type="text" name="language" value=`${inputs.language}`) 
        .form-group.row
            label(for="mainMode").col-sm-2.col-form-label mainMode
            .col-sm-10
                input.form-control#mainMode(type="text" name="mainMode" value=`${inputs.mainMode}`) 
        .form-group.row
            label(for="phone").col-sm-2.col-form-label phone
            .col-sm-10
                input.form-control#phone(type="text" name="phone" value=`${inputs.phone}`)
        .form-group.row
            label(for="mail").col-sm-2.col-form-label mail
            .col-sm-10
                input.form-control#mail(type="text" name="mail" value=`${inputs.mail}`)
        .form-group.row
            label(for="address").col-sm-2.col-form-label address
            .col-sm-10
                input.form-control#address(type="text" name="address" value=`${inputs.address}`)
                
        .form-group.row
            .col-sm-10.offset-sm-2
                input(type="submit" value="Save Settings").btn.btn-primary


block script  
    script(src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js")
    script(src="/js/script.js") 