extends ../layouts/admin-layout.pug
block styles
    link(href="/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer")

block content
    if(action!=="undefined" && action==="create")
        .alert.alert-success.alert-dismissible.fade.show(role='alert')
            strong Kategori Başarılı Bir Şekilde Eklendi
    if(action!=="undefined" && action==="delete")
        .alert.alert-warning.alert-dismissible.fade.show(role='alert')
            strong Kategori Başarılı Bir Şekilde Silindi
    if(action!=="undefined" && action==="edit")
        .alert.alert-info.alert-dismissible.fade.show(role='alert')
            strong Kategori Ayarları Başarılı Bir Şekilde Güncellendi
            
    script.
        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove(); 
            });
        }, 2000);

    .row.clearfix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .form-group.row
                .card.text-center.bg-blue-grey
                    .header
                        h2.text-white
                            | KATEGORİLER
    .row.clearfix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            
            .card
                if isAdmin
                    a(href="/admin/add-category").btn.bg-blue-grey.btn-sm
                        span 
                            i.fas.fa-plus.fa-xs.mr-2
                        | Yeni Kategori Ekleme

                if categories.length>0
                    .body
                        .table-responsive
                            table.table.table-bordered.table-striped.table-hover.dataTable.js-exportable.text-center
                                thead.bg-blue-grey
                                    tr
                                        th(scope="col").align-middle #
                                        th Kategori Resmi
                                        th Kategori Adı
                                        th Yazar
                                        th Tarih
                                        if isAdmin
                                            th
                                tfoot.bg-blue-grey
                                    tr
                                        th(scope="col").align-middle #
                                        th Resim
                                        th Kategori Adı
                                        th Yazar
                                        th Tarih
                                        if isAdmin
                                            th
                                tbody
                                    -var index=1;
                                    each category in categories                
                                        tr
                                            td(scope="row").align-middle #{index++}
                                            td
                                                img(src=`/img/resized/${category.categoryImg}` width='80')
                                            td.align-middle #{category.name}
                                            td.align-middle #{category.userId.name}
                                            td.align-middle #{category.date.getHours()+":"+ category.date.getMinutes()+" "}
                                                br                                            
                                                | #{category.date.toLocaleDateString("tr-TR",option={year: 'numeric',month: 'long',day: 'numeric'})}
                                            //- td.align-middle 
                                            //-     i(class=(product.isActive ? "text-success fas fa-check-circle" : "text-danger fas fa-times-circle")).fa-2x
                                            if isAdmin
                                                td.align-middle.position-relative
                                                    a.btn.btn-warning.btn-sm(href=`/admin/categories/${category._id}`) 
                                                        span 
                                                            i.fas.fa-edit.fa-xs
                                                    form(action="/admin/delete-category" method="POST")
                                                        input(type="hidden" name="_csrf" value=`${csrfToken}`) 
                                                        input(type="hidden" name="categoryid" value=`${category._id}`)
                                                        button(type="submit" style="height:40px; width:40px;").btn.btn-danger.btn-sm
                                                            span
                                                                i.fas.fa-trash-alt.fa-xs
                else
                    p.text-center.align-middle Herhangi Bir Kategori Mevcut Değil
block script    
    include ../admin/includes/tablescript.pug
