extends ../layouts/admin-layout.pug
block styles
    link(href="/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer")

block content
    if(action!=="undefined" && action==="delete")
        div.alert.alert-danger The  client has been deleted.

    if(action!=="undefined" && action==="edit")
        div.alert.alert-success The  client has been update.


    
    .row.clearfix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            
            .card
                
                a(href="/admin/add-client").btn.btn-primary.btn-sm.mr-2 
                    | Yeni Referans Ekleme
                    
                .body
                    .table-responsive
                        table.table.table-bordered.table-striped.table-hover.dataTable.js-exportable
                            thead
                                tr
                                    th Image
                                    th Name
                                    th Web Sitesi
                                    th Author
                                        

                            tfoot
                                tr
                                    th Image
                                    th Name
                                    th Web Sitesi
                                    th Author
                            tbody
                                if(client.length > 0)
                                    each clients in client                
                                        tr.text-center
                                            td.text-center
                                                img(src=`/img/${clients.clientlogo}` width="200" ).img-fluid.mx-auto.d-block
                                            td #{clients.name}
                                            td.text-center
                                                a.btn.btn-primary.btn-sm.mr-2(href=`${clients.link}`) #{clients.name} Web Adresi
                                            td #{clients.userId.name}
                                            
                                            td.position-sticky
                                                a.btn.btn-primary.btn-sm.mr-2(href=`/admin/client/${clients._id}`) Edit
                                                form(action="/admin/delete-client" method="POST")
                                                    input(type="hidden" name="_csrf" value=`${csrfToken}`)  
                                                    input(type="hidden" name="clientid" value=`${clients._id}`)
                                                    button(type="submit").btn.btn-danger.btn-sm Delete
                                else
                                    p No Clients
block script    
    script(src="/plugins/jquery-datatable/jquery.dataTables.js")
    script(src="/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js")
    script(src="/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js")
    script(src="/plugins/jquery-datatable/extensions/export/buttons.flash.min.js")
    script(src="/plugins/jquery-datatable/extensions/export/jszip.min.js")
    script(src="/plugins/jquery-datatable/extensions/export/pdfmake.min.js")
    script(src="/plugins/jquery-datatable/extensions/export/vfs_fonts.js")
    script(src="/plugins/jquery-datatable/extensions/export/buttons.html5.min.js")
    script(src="/plugins/jquery-datatable/extensions/export/buttons.print.min.js")
    script(src='/js/pages/tables/jquery-datatable.js')
