extends ../layouts/admin-layout.pug
block styles 
    link(rel="stylesheet" href="/css/mailbox.css")   


block content
    if(action!=="undefined" && action==="delete")
        .alert.alert-warning.alert-dismissible.fade.show(role='alert')
            strong Mail Başarılı Bir Şekilde Silindi
        
    script.
        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove(); 
            });
        }, 2000);
    .container    
        .row
            .col-md-12
                .card
                    .card-body.bg-secondary.text-white.mailbox-widget.pb-0
                        h2.text-white.pb-3.text-center Mailbox
                    #myTabContent.tab-content
                        #inbox.tab-pane.fade.active.show(aria-labelledby='inbox-tab' role='tabpanel')
                            div
                                .row.p-4.no-gutters.align-items-center
                                    .col-sm-12.col-md-6
                                        h3.font-light.mb-0
                                            i.ti-email.mr-2
                                            | Toplam Mail Sayısı: #{contact.length}
                                if contact.length > 0
                                
                                    .table-responsive
                                        table.table.table-bordered.table-striped.table-hover.dataTable.js-exportable.text-center
                                            tbody
                                                each contactus in contact
                                                    tr.mr-5
                                                        td.pl-3.align-middle
                                                            .custom-control.custom-checkbox

                                                        td.align-middle
                                                            span.mb-0.text-muted #{contactus.name}
                                                        td.align-middle
                                                            a.link(href=`/admin/contact/${contactus._id}`)
                                                                span.text-dark #{contactus.subject}
                                                        td.align-middle #{contactus.date.getHours()+":"+ contactus.date.getMinutes()}
                                                            br                                            
                                                            | #{contactus.date.toLocaleDateString("tr-TR",option={year: 'numeric',month: 'long',day: 'numeric'})}
                                                        if isAdmin
                                                            td.align-middle
                                                                form(action="/admin/delete-contact" method="POST")
                                                                    input(type="hidden" name="_csrf" value=`${csrfToken}`)  
                                                                    input(type="hidden" name="contactid" value=`${contactus._id}`)
                                                                    button(type="submit" style="height:40px; width:40px;").btn.btn-danger.btn-sm
                                                                        span 
                                                                            i.fas.fa-trash-alt.fa-xs
                                else
                                    p.text-center.align-middle Herhangi Bir Mesajınız Mevcut Değil