extends ../layouts/admin-layout.pug

block styles
    link(rel="stylesheet" href="/css/themes/image.css")
    
block content
    if errorMessage
        div.alert.alert-danger.col-sm-7 !{errorMessage}
    form(action="/admin/lang" method="POST" enctype="multipart/form-data")
        input(type="hidden" name="_csrf" value=`${csrfToken}`)    
        input(type="hidden" name="langid" value=`${lang._id}`)
        .row.clearfix
                .col-md-12
                    .form-group.row
                        .col-sm-12
                            .card.text-center.bg-blue-grey
                                .header
                                    h2.text-white
                                        | #{lang.lang.lang} DİLİNİN GÜNCELLEME SAYFASI
        .row.clearfix
            .col-md-12

                .card.bg-light.text-center
                    .body
                        .form-group
                            label.form-check-label Aktif
                            .form-check.form-switch.d-flex.justify-content-center
                                input.form-check-input.mt-auto.p-2.bd-highlight#isActive(type="checkbox" name="isActive" value=`${lang.isActive}` checked=lang.isActive)

        .row
            .col-md-12
                .form-group.row
                    .col-sm-12
                        .card.text-center.bg-blue-grey
                            .header.bg-white
                                h2
                                    | DİLİN BAYRAĞI
                            .body.bg-blue-grey
                                span(style="font-size:7rem;").text-center
                                    i(name="selecticon" class=`${lang.lang.imageUrl}`)
                                br
                                button.btn.btn-warning(type="button" onclick='document.querySelector(".form-horizontal").style.display="block"; this.style.display="none";') Bayrağı Değiştir
                                .form-horizontal(style="display:none;")
                                    .form-group
                                        label Bir Ülkenin Bayrağını Seçiniz
                                        br
                                        #flagstrap3.flagstrap(data-input-name='country')
        .row
            .col-md-6
                .form-group.row
                    .col-sm-12
                        .card.text-center.bg-blue-grey
                            .header.bg-white
                                h2
                                    | DİLİN ADI
                                    small.text-danger
                                        | Gerekli
                            .body
                                .form-line
                                    input.text-center.form-control#lang(type="text" name="lang" placeholder="English" value=`${lang.lang.lang}`)  
            .col-md-6
                .form-group.row
                    .col-sm-12
                        .card.text-center.bg-blue-grey
                            .header.bg-white
                                h2
                                    | DİLİN KODU
                                    small.text-danger
                                        | Gerekli
                            .body
                                .form-line
                                    input.text-center.form-control#value(type="text" name="value" placeholder="en" value=`${lang.lang.value}`)  
                                    input.form-control#value(type="hidden" name="imageUrl" value=`${lang.lang.imageUrl}`)  
        


        .form-group.row
            input(type="submit" value="Dili Güncelle")#export-btn.col-md-12.btn.btn-warning
block script
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.bundle.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/flagstrap/1.0/js/jquery.flagstrap.min.js')
    script(src="/js/flagselect.js?v=3")