extends ../layouts/admin-layout.pug
block styles
    link(rel="stylesheet" href="/css/form.css")
block content
    .col-lg-9
        form(action="/admin/aboutservices" method="POST" enctype="multipart/form-data")
            input(type="hidden" name="_csrf" value=`${csrfToken}`)    
            input(type="hidden" name="aboutserviceid" value=`${aboutservices._id}`)
            .form-group.row
                .form-check.form-switch
                    input.form-check-input#isActive(type="checkbox" name="isActive" 
                        value=`${aboutservices.isActive}` checked=aboutservices.isActive)
                    label.form-check-label Aktif
            .form-group.row
                label(for="name").col-sm-2.col-form-label Name
                .col-sm-10
                    input(type="text" name="name" value=`${aboutservices.name}`).form-control#name              
            .form-group.row
                label(for="imageUrl").col-sm-2.col-form-label Image
                .col-sm-10
                    img(src=`/img/${aboutservices.imageUrl}` width="100")
                    input#aboutservices(type="file" name="servicesImg" ) 
                            
            .form-group.row
                label(for="description").col-sm-2.col-form-label Description
                .col-sm-10
                    textarea.form-control(id="editor" name="description" cols="30" rows="10") #{aboutservices.description}
            
            .form-group.row
                .col-sm-10.offset-sm-2
                    input(type="submit" value="Kaydet").btn.btn-primary                     



block script  
    script(src="/js/ckeditor/ckeditor.js")
    script(src="/js/script.js") 