extends ../layouts/admin-layout.pug
block styles
    link(rel="stylesheet" href="/css/themes/image.css")
    script.jsbin(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src="/plugins/ckeditor/ckeditor.js")
block content
    if errorMessage
        div.alert.alert-danger.col-sm-12 !{errorMessage}
    form(action="/admin/aboutservices" method="POST" enctype="multipart/form-data")
        input(type="hidden" name="_csrf" value=`${csrfToken}`)    
        input(type="hidden" name="aboutserviceid" value=`${aboutservices._id}`)
        .row.clearfix
            .col-md-12
                .form-group.row
                    .col-sm-12
                        .card.text-center.bg-blue-grey
                            .header
                                h2.text-white
                                    | "#{aboutservices.name}" HİZMETİNİN GÜNCELLEME SAYFASI
        .row.clearfix
            .col-md-2
                .card.bg-light.text-center
                    .body
                        .form-group
                            label.form-check-label.mb-5 Aktif
                            .form-check.form-switch.d-flex.justify-content-center
                                input.form-check-input.mt-auto.p-2.bd-highlight#isActive(type="checkbox" name="isActive" value=`${aboutservices.isActive}` checked=aboutservices.isActive)
            .col-md-10
                .form-group.row
                    .col-sm-12
                        .card.text-center.bg-blue-grey
                            .header.bg-white
                                h2
                                    | HİZMETİN ADI
                                    small.text-danger
                                        | Gerekli
                            .body
                                .form-line
                                    input.form-control#name(type="text" name="name" value=`${aboutservices.name}` placeholder="Sulu Klima")            
        .row
            .col-md-12
                .form-group.row
                    .col-sm-12
                        .card.text-center.bg-blue-grey
                            .header.bg-white
                                h2
                                    | HİZMETİN RESMİ
                                    small.text-info
                                        | Bir Tane Resim Seçilebilir
                            .text-center
                                img(src=`/img/${aboutservices.imageUrl}` style="width:200px;").card-img-top.mt-3                            
                            .body.bg-blue-grey
                                .fileupload.fileupload-new(data-provides='fileupload')
                                    span.btn.btn-warning.btn-file
                                        span.fileupload-new Yeni
                                        span.fileupload-exists Değiştir
                                        input#image(type="file" name="servicesImg" accept="image/*")
                                    span.fileupload-preview
                                    a.close.fileupload-exists(href='#' data-dismiss='fileupload' style='float: none') ×
        .form-group.row
            .col-sm-12
                .card.text-center.bg-blue-grey
                    .header.bg-white
                        h2
                            | AÇIKLAMA                            
                            small.text-danger
                                | Gerekli
                            small.text-info
                                | Resim Konulabilir (Resim Ekleme Simgesine Tıklayın > Sunucuya Gözat )
                    .body
                        .form-line
                        textarea.form-control(id="editor" name="description" cols="30" rows="10") #{aboutservices.description}
                            
        .form-group.row
            input(type="submit" value="Hizmeti Güncelle").btn.btn-warning.col-md-12                     



block script  
    script(src="/js/script.js") 