extends ../layouts/admin-layout.pug
block styles
    link(rel="stylesheet" href="/css/themes/image.css")
    script.jsbin(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
block content    
    if errorMessage
        div.alert.alert-danger.col-sm-12 !{errorMessage}
    form(action="/admin/services" method="POST")
        input(type="hidden" name="_csrf" value=`${csrfToken}`)    
        input(type="hidden" name="serviceid" value=`${services._id}`)
        .row.clearfix
            .col-md-12
                .form-group.row
                    .col-sm-12
                        .card.text-center.bg-blue-grey
                            .header
                                h2.text-white
                                    | "#{services.shortservices.name}" SERVİSİNİN GÜNCELLEME SAYFASI
        
        .row.clearfix
            .col-md-2
                .card.bg-light.text-center
                    .body
                        .form-group
                            label.form-check-label.mb-5 Aktif
                            .form-check.form-switch.d-flex.justify-content-center
                                input.form-check-input.mt-auto.p-2.bd-highlight#isActive(type="checkbox" name="isActive" value=`${services.isActive}` checked=services.isActive)
            .col-md-10
                .form-group.row
                    .col-sm-12
                        .card.text-center.bg-blue-grey
                            .header.bg-white
                                h2
                                    | SERVİS BAŞLIĞI
                                    small.text-danger
                                        | Gerekli
                            .body
                                .form-line
                                    input.form-control#title(type="text" name="name" value=`${services.shortservices.name}` placeholder="Danışmanlık")            
        .row
            .col-md-6
                .form-group.row
                    .col-sm-12
                        .card.text-center.bg-blue-grey
                            .header.bg-white
                                h2
                                    | SERVİS İCONU
                                    small.text-danger
                                        | Gerekli
                                    small.text-info
                                        | Lütfen
                                        a(href="/css/icomoon/demo.html" target="_blank")  Bu Sayfadan 
                                        | istediğiniz iconun ismini seçip yapıştırın
                            .text-center
                                span.card-img-top.mt-3.fa-5x
                                    i(class=`${services.shortservices.icon}`)

                            .body.bg-blue-grey
                                input.form-control#icon(type='text' name="icon" value=`${services.shortservices.icon}`)  

            .col-sm-6
                .card.text-center.bg-blue-grey
                    .header.bg-white
                        h2
                            | AÇIKLAMA                            
                            small.text-info
                                | İsteğe Bağlı
                    .body
                        .form-line
                            textarea.form-control(type="text" name="description" cols="5" rows="1") #{services.shortservices.description}

        .col-sm-12
            .form-group
                input(type="submit" value="Kaydet").btn.btn-warning.col-sm-12                  

