extends ../layouts/admin-layout.pug
block styles
    link(rel="stylesheet" href="/css/themes/image.css")
    script.jsbin(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
block content    
    if errorMessage
        div.alert.alert-danger.col-sm-12 !{errorMessage}

    form(action="/admin/client" method="POST" enctype="multipart/form-data")
        input(type="hidden" name="_csrf" value=`${csrfToken}`)    
        input(type="hidden" name="clientid" value=`${client._id}`)
        .row.clearfix
            .col-md-12
                .form-group.row
                    .col-sm-12
                        .card.text-center.bg-blue-grey
                            .header
                                h2.text-white
                                    | "#{client.client.name}" REFERANSINI GÜNCELLEME SAYFASI
        .row.clearfix
            .col-md-2
                .card.bg-light.text-center
                    .body
                        .form-group
                            label.form-check-label.mb-5 Aktif
                            .form-check.form-switch.d-flex.justify-content-center
                                input.form-check-input.mt-auto.p-2.bd-highlight#isActive(type="checkbox" name="isActive" value=`${client.isActive}` checked=client.isActive)
            .col-md-10
                .form-group.row
                    .col-sm-12
                        .card.text-center.bg-blue-grey
                            .header.bg-white
                                h2
                                    | REFERANSIN ADI
                                    small.text-danger
                                        | Gerekli
                            .body
                                .form-line
                                    input.form-control#name(type="text" name="name" value=`${client.client.name}` placeholder="Bosch")            
        .row
            .col-md-12
                .form-group.row
                    .col-sm-12
                        .card.text-center.bg-blue-grey
                            .header.bg-white
                                h2
                                    | REFERANSIN LOGOSU
                                    small.text-danger
                                        | Gerekli
                                    small.text-info
                                        | Bir Tane Resim Seçilebilir
                            .text-center
                                img(src=`/img/resized/${client.client.clientlogo}` style="width:200px;").card-img-top.mt-3                            
                            .body.bg-blue-grey
                                .fileupload.fileupload-new(data-provides='fileupload')
                                    span.btn.btn-warning.btn-file
                                        span.fileupload-new Yeni
                                        span.fileupload-exists Değiştir
                                        input#clientlogo(type="file" name="clientlogo" accept="image/*")
                                    span.fileupload-preview
                                    a.close.fileupload-exists(href='#' data-dismiss='fileupload' style='float: none') ×
        .form-group.row
            .col-sm-6
                .card.text-center.bg-blue-grey
                    .header.bg-white
                        h2
                            | REFERANS WEB ADRESİ
                            small.text-info
                                | İsteğe Bağlı
                    .body
                        .form-line
                            input.form-control#link(type="text" name="link" value=`${client.client.link}` placeholder="https://www.bosch-home.com.tr/")            
            .col-sm-6
                .card.text-center.bg-blue-grey
                    .header.bg-white
                        h2
                            | AÇIKLAMA                            
                            small.text-info
                                | İsteğe Bağlı
                            
                    .body
                        .form-line
                            textarea.form-control(type="text" name="description" cols="5" rows="1") #{client.client.description}
        .col-sm-12
            .form-group
                input(type="submit" value="Referansı Güncelle").btn.btn-warning.col-sm-12                  

block script
    script(src='/js/image.js')