extends ../layouts/admin-layout.pug

block content
    .block-header
        h2 DASHBOARD
    .row.clearfix
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
            a(href="/admin/products" style="text-decoration: none;")

                .info-box.bg-pink.hover-expand-effect
                    .icon
                        i.material-icons shopping_cart
                    .content
                        .text Ürün Sayısı
                        .number.count-to(data-from='0' data-to=`${products.length}` data-speed='1000' data-fresh-interval='20')
                    
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .info-box.bg-cyan.hover-expand-effect
                .icon
                    i.material-icons help
                .content
                    .text NEW TICKETS
                    .number.count-to(data-from='0' data-to='257' data-speed='1000' data-fresh-interval='20')
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .info-box.bg-light-green.hover-expand-effect
                .icon
                    i.material-icons forum
                .content
                    .text NEW COMMENTS
                    .number.count-to(data-from='0' data-to='243' data-speed='1000' data-fresh-interval='20')
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
            a(href="/admin/users" style="text-decoration: none;")

                .info-box.bg-orange.hover-expand-effect
                    .icon
                        i.material-icons person_add
                    .content
                        .text Üye Sayısı
                            .number.count-to(data-from='0' data-to=`${!user.isAdmin? user.length: "0"}` data-speed='1000' data-fresh-interval='20')
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
            a(href="/admin/contact" style="text-decoration: none;")
                .info-box.bg-blue-grey.hover-zoom-effect
                    .icon
                        i.material-icons email
                    .content
                        .text Mesajlar
                        .number.count-to(data-from='0' data-to=`${contact.length}` data-speed='1000' data-fresh-interval='20')
    .row.clearfix
        .col-md-12
            .form-group
                .card
                    .header
                        h2.text-center
                            | Giriş İşlemleri
                    if advanced.length>0
                        .body
                            .table-responsive
                                table.table.table-hover.text-center
                                    thead.thead-dark
                                        tr
                                            th(scope="col").align-middle #
                                            th(scope="col").align-middle Ad Soyad
                                            th(scope="col").align-middle Statü
                                            if isAdmin
                                                th(scope="col").align-middle İp
                                            th(scope="col").align-middle Tarih
                                    
                                    tbody
                                        -var index=1;
                                        each advanceds in advanced
                                            tr
                                            
                                                td(scope="row").align-middle #{index++}
                                                td.align-middle #{advanceds.userId.name}                                                
                                                td.align-middle #{advanceds.status}
                                                if isAdmin
                                                    td.align-middle #{advanceds.ip}                                    
                                                td.align-middle #{advanceds.date.getHours()+":"+ advanceds.date.getMinutes()}
                                                    br
                                                    |#{advanceds.date.toLocaleDateString("tr-TR",option={year: 'numeric',month: 'long',day: 'numeric'})}
                            if isAdmin
                                a(href="/admin/advanced" style="text-decoration: none;").text-dark
                                    button.btn.btn-outline-warning.col-md-12 
                                        |Daha Fazla Göster
                    else
                        p.text-center.align-middle Herhangi Bir Giriş Yapılmadı

    .row.clearfix
        .col-md-12
            .form-group
                .card
                    .header
                        h2.text-center
                            | Yapılan İşlemler
                    if process.length>0
                    
                        .body
                            .table-responsive
                                table.table.table-hover.text-center
                                    thead.thead-dark
                                        tr
                                            th(scope="col").align-middle #
                                            th(scope="col").align-middle Yapılan İşlem
                                            th(scope="col").align-middle İşlem 
                                            th(scope="col").align-middle İşlemi Gerçekleştiren
                                            th(scope="col").align-middle Tarih
                                    tbody
                                        -var index=1;
                                        each processes in process
                                            tr
                                            
                                                td(scope="row").align-middle #{index++}
                                                td.align-middle #{processes.name}
                                                td.align-middle 
                                                    button.btn(class=(`${processes.type}`==="delete" ? "btn-outline-danger" : `${processes.type}`==="edit" ? "btn-outline-warning" : `${processes.type}`==="insert" ? "btn-outline-success":"") style="border-radius:50px;") #{processes.type}
                                                td.align-middle #{processes.userId.name}
                                                
                                                td.align-middle #{processes.date.getHours()+":"+ processes.date.getMinutes()}
                                                    br
                                                    |#{processes.date.toLocaleDateString("tr-TR",option={year: 'numeric',month: 'long',day: 'numeric'})}
                            if isAdmin                            
                                a(href="/admin/process" style="text-decoration: none;").text-dark
                                    button.btn.btn-outline-warning.col-md-12 
                                        |Daha Fazla Göster
                    else
                        p.text-center.align-middle Herhangi Bir İşlem Yapılmadı
