extends ../layouts/admin-layout.pug

block content
    .block-header
        h2 DASHBOARD
    .row.clearfix
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
            a(href="/admin/products" style="text-decoration: none;")

                .info-box.bg-red.hover-expand-effect
                    .icon
                        i.fas.fa-box-open
                    .content
                        .text Ürün Sayısı
                        .number.count-to(data-from='0' data-to=`${products.length}` data-speed='1000' data-fresh-interval='20')
                    
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
            a(href="/admin/categories" style="text-decoration: none;")
                .info-box.bg-pink.hover-expand-effect
                    .icon
                        i.fas.fa-cubes
                    .content
                        .text Kategori Sayısı
                        .number.count-to(data-from='0' data-to=`${category.length}` data-speed='1000' data-fresh-interval='20')
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
            a(href="/admin/users" style="text-decoration: none;")

                .info-box.bg-deep-purple.hover-expand-effect
                    .icon
                        i.fas.fa-user-plus
                    .content
                        .text Üye Sayısı
                            .number.count-to(data-from='0' data-to=`${user.length}` data-speed='1000' data-fresh-interval='20')
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
            a(href="/admin/contact" style="text-decoration: none;")
                .info-box.bg-indigo.hover-zoom-effect
                    .icon
                        i.material-icons email
                    .content
                        .text Mesajlar
                        .number.count-to(data-from='0' data-to=`${contact.length}` data-speed='1000' data-fresh-interval='20')
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
            a(href="/admin/advanced" style="text-decoration: none;")
                .info-box.bg-blue.hover-zoom-effect
                    .icon
                        i.fas.fa-sign-in-alt
                    .content
                        .text Topalm Giriş
                        .number.count-to(data-from='0' data-to=`${alladvanced.length}` data-speed='1000' data-fresh-interval='20')
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
            a(href="/admin/process" style="text-decoration: none;")
                .info-box.bg-light-blue.hover-zoom-effect
                    .icon
                        i.fas.fa-clipboard-list
                    .content
                        .text Toplam Yapılan İşlem
                        .number.count-to(data-from='0' data-to=`${allprocess.length}` data-speed='1000' data-fresh-interval='20')

        if ecommerce.ecommarce_isActive
            .col-lg-3.col-md-3.col-sm-6.col-xs-12
                a(href="/admin/orders" style="text-decoration: none;")
                    .info-box.bg-cyan.hover-zoom-effect
                        .icon
                            i.fas.fa-shopping-cart
                        .content
                            .text Toplam Sipariş
                            .number.count-to(data-from='0' data-to=`${order.length}` data-speed='1000' data-fresh-interval='20')
            .col-lg-3.col-md-3.col-sm-6.col-xs-12
                a(href="/admin/orders" style="text-decoration: none;")
                    div.info-box.bg-teal.hover-zoom-effect
                        .icon
                            i.fas.fa-hand-holding-usd
                        .content
                            .text Beklenen Sipariş İsteği
                            .number.count-to(data-from='0' data-to=`${ordercount.length}` data-speed='1000' data-fresh-interval='20')
            .col-lg-3.col-md-3.col-sm-6.col-xs-12
                a(href="/admin/orders" style="text-decoration: none;")
                    div(style="height:6rem;").info-box.bg-green.hover-zoom-effect
                        .icon
                            i.fas.fa-clipboard-check
                        .content
                            .text Onaylanan Sipariş 
                            .number.count-to(data-from='0' data-to=`${approval.length}` data-speed='1000' data-fresh-interval='20')
            .col-lg-3.col-md-3.col-sm-6.col-xs-12
                a(href="/admin/orders" style="text-decoration: none;")
                    div(style="height:6rem;").info-box.bg-light-green.hover-zoom-effect
                        .icon
                            i.fas.fa-truck
                        .content
                            .text Kargoya Verilen Sipariş
                            .number.count-to(data-from='0' data-to=`${cargo.length}` data-speed='1000' data-fresh-interval='20')
            .col-lg-3.col-md-3.col-sm-6.col-xs-12
                a(href="/admin/orders" style="text-decoration: none;")
                    div(style="height:6rem;").info-box.bg-orange.hover-zoom-effect
                        .icon
                            i.fas.fa-thumbs-up
                        .content
                            .text Teslim Edilen Sipariş
                            .number.count-to(data-from='0' data-to=`${done.length}` data-speed='1000' data-fresh-interval='20')
    if system.isMemory==false
        .row.clearfix 
            .alert.alert-warning(role='alert').pl-2.pr-2
                h4.alert-heading Geliştirici Modu Kapalı
                p
                    | Ürün, kategori, slayt, genel ayarlar( Bakım ve Geliştirici Modu Hariç) ve Sayfalarda yapılan işlemler sitede aktif olan kullanıcılara 5 DK sonra yansıyacaktır.
                hr
                p.mb-0.bg-light.text-warning.p-3
                    | Lütfen bir işlem yapmadan önce 
                    a(href="/admin/system").alert-link.text-secondary geliştirici modu 
                    |açınız. Ardından sitenin hızlı açılması için geliştirici modu kapatınız. 
                p.mb-0.p-3            
                    |Eğer web sitesinde "memory" ile alakalı bir hata alıyorsanız 
                    a(href="/admin/system").alert-link.text-secondary geliştirici modu 
                    |açınız. 

    .row.clearfix
        .col-md-12
            .form-group
                .card
                    .header
                        h2.text-center
                            | Giriş İşlemleri
                    if advanced.length>0
                        .body
                            .table-responsive
                                table.table.table-hover.text-center
                                    thead.thead-dark
                                        tr
                                            th(scope="col").align-middle #
                                            th(scope="col").align-middle Ad Soyad
                                            th(scope="col").align-middle Statü
                                            if isAdmin
                                                th(scope="col").align-middle İp
                                            th(scope="col").align-middle Tarih
                                    
                                    tbody
                                        -var index=1;
                                        each advanceds in advanced
                                            tr
                                            
                                                td(scope="row").align-middle #{index++}
                                                td.align-middle #{advanceds.userId.name}                                                
                                                td.align-middle #{advanceds.status}
                                                if isAdmin
                                                    td.align-middle #{advanceds.ip}                                    
                                                td.align-middle #{advanceds.date.getHours()+":"+ advanceds.date.getMinutes()}
                                                    br
                                                    |#{advanceds.date.toLocaleDateString("tr-TR",option={year: 'numeric',month: 'long',day: 'numeric'})}
                            if isAdmin
                                a(href="/admin/advanced" style="text-decoration: none;").text-dark
                                    button.btn.btn-outline-warning.col-md-12 
                                        |Daha Fazla Göster
                    else
                        p.text-center.align-middle Herhangi Bir Giriş Yapılmadı

    .row.clearfix
        .col-md-12
            .form-group
                .card
                    .header
                        h2.text-center
                            | Yapılan İşlemler
                    if process.length>0
                    
                        .body
                            .table-responsive
                                table.table.table-hover.text-center
                                    thead.thead-dark
                                        tr
                                            th(scope="col").align-middle #
                                            th(scope="col").align-middle Yapılan İşlem
                                            th(scope="col").align-middle İşlem 
                                            th(scope="col").align-middle İşlemi Gerçekleştiren
                                            th(scope="col").align-middle Tarih
                                    tbody
                                        -var index=1;
                                        each processes in process
                                            tr
                                            
                                                td(scope="row").align-middle #{index++}
                                                td.align-middle #{processes.name}
                                                td.align-middle 
                                                    button.btn(class=(`${processes.type}`==="delete" ? "btn-outline-danger" : `${processes.type}`==="edit" ? "btn-outline-warning" : `${processes.type}`==="insert" ? "btn-outline-success":"") style="border-radius:50px;") #{processes.type}
                                                td.align-middle #{processes.userId.name}
                                                
                                                td.align-middle #{processes.date.getHours()+":"+ processes.date.getMinutes()}
                                                    br
                                                    |#{processes.date.toLocaleDateString("tr-TR",option={year: 'numeric',month: 'long',day: 'numeric'})}
                            if isAdmin                            
                                a(href="/admin/process" style="text-decoration: none;").text-dark
                                    button.btn.btn-outline-warning.col-md-12 
                                        |Daha Fazla Göster
                    else
                        p.text-center.align-middle Herhangi Bir İşlem Yapılmadı

block script
    script.
        requireScript('adindex', '1.1.1', '/js/pages/index.js');

