extends ../layouts/admin-layout.pug


block content
    if(action!=="undefined" && action==="create")
        .alert.alert-success.alert-dismissible.fade.show(role='alert')
            strong Dil Başarılı Bir Şekilde Eklendi
    if(action!=="undefined" && action==="delete")
        .alert.alert-warning.alert-dismissible.fade.show(role='alert')
            strong Dil Başarılı Bir Şekilde Silindi
    if(action!=="undefined" && action==="edit")
        .alert.alert-info.alert-dismissible.fade.show(role='alert')
            strong Dil Ayarları Başarılı Bir Şekilde Güncellendi

        
    script.
        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove(); 
            });
        }, 2000);
        //- onchange='top.location.href=this.options[this.selectedIndex].value;
    .row.clearfix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .form-group.row
                .card.text-center.bg-blue-grey
                    .header
                        h2.text-white
                            | DİL AYARLARI
    .row.clearfix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            
            .card
                if isAdmin
                    a(href="/admin/add-lang").btn.bg-blue-grey.btn-sm
                        span 
                            i.fas.fa-plus.fa-xs.mr-2
                        | Yeni Bir Dil Ekle

                if lang.length > 0
                        
                    .body.justify-content-between
                        .table-responsive
                            table.table.table-bordered.table-striped.table-hover.dataTable.js-exportable.text-center
                                thead.bg-blue-grey
                                    tr
                                        th(scope="col").align-middle #
                                        th Dilin Bayrağı
                                        th Dilin Adı
                                        th Dilin Kodu
                                        th Yazar
                                        th Tarih
                                        th Aktif
                                        if isAdmin
                                            th
                                tfoot.bg-blue-grey
                                    tr
                                        th(scope="col").align-middle #
                                        th Dilin Bayrağı
                                        th Dilin Adı
                                        th Dilin Kısaltması
                                        th Yazar
                                        th Tarih
                                        th Aktif
                                        if isAdmin
                                            th
                                tbody
                                    -var index=1;
                                    each langs in lang                
                                        tr
                                            td(scope="row").align-middle #{index++}
                                            td.align-middle
                                                img(src=`/img/resized/${langs.lang.imageUrl}` width='50')
                                            td.align-middle #{langs.lang.lang}
                                            td.align-middle #{langs.lang.value}
                                            td.align-middle #{langs.userId.name}
                                            td.align-middle #{langs.date.getHours()+":"+ langs.date.getMinutes()+" "}
                                                br                                            
                                                | #{langs.date.toLocaleDateString("tr-TR",option={year: 'numeric',month: 'long',day: 'numeric'})}
                                            td.align-middle 
                                                i(class=(langs.isActive ? "text-success fas fa-check-circle" : "text-danger fas fa-times-circle")).fa-2x
                                            if isAdmin
                                            
                                                td.align-middle.position-relative
                                                    a.btn.btn-warning.btn-sm(href=`/admin/lang/${langs._id}`) 
                                                        span 
                                                            i.fas.fa-edit.fa-xs
                                                    form(action="/admin/delete-lang" method="POST")
                                                        input(type="hidden" name="_csrf" value=`${csrfToken}`)  
                                                        input(type="hidden" name="langid" value=`${langs._id}`)
                                                        button(type="submit" style="height:40px; width:40px;").btn.btn-danger.btn-sm
                                                            span 
                                                                i.fas.fa-trash-alt.fa-xs
                else
                    p.text-center.align-middle Herhangi Bir Dil Eklenmedi
block script    
    include ../admin/includes/tablescript.pug
