extends ../layouts/admin-layout.pug
block styles
    link(rel="stylesheet" href="/css/themes/image.css")
    script.jsbin(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')

block content
        if(action!=="undefined" && action==="edit")
            .alert.alert-info.alert-dismissible.fade.show(role='alert')
                strong Logo Ayarları Başarılı Bir Şekilde Güncellendi
            script.
                window.setTimeout(function() {
                    $(".alert").fadeTo(500, 0).slideUp(500, function(){
                        $(this).remove(); 
                    });
                }, 2000);
        form(action="/admin/logo" method="POST" enctype="multipart/form-data")
            input(type="hidden" name="_csrf" value=`${csrfToken}`)
            .row.clearfix
                .col-md-12
                    .form-group.row
                        .col-sm-12
                            .card.text-center.bg-blue-grey
                                .header
                                    h2.text-white
                                        | LOGO AYARLARI
            
            .row.clearfix
                .col-lg-4.col-md-4.col-sm-4.col-xs-12
                    .form-group.row
                        .card(style="height:19rem;")
                            .card-header
                                .text-center
                                    img.card-image(src=`${baselogo}` width="200")

                            .card-footer.bg-blue-grey
                                h2.text-center
                                    | Navbar Logo
                                    if isAdmin
                                        small.text-center
                                            .fileupload.fileupload-new(data-provides='fileupload')
                                                span.btn.btn-warning.btn-file
                                                    span.fileupload-new Yeni
                                                    span.fileupload-exists Değiştir
                                                    input#logo(type="file" name="logo")
                                                span.fileupload-preview
                                                a.close.fileupload-exists(href='#' data-dismiss='fileupload' style='float: none') ×
                .col-lg-4.col-md-4.col-sm-6.col-xs-12
                    .form-group.row
                        .card(style="height:19rem;")
                            .card-header
                                .text-center
                                    img.card-image(src=`${basefav}` width="50")

                            .card-footer.bg-blue-grey
                                h2.text-center
                                    | Favico Logo
                                    if isAdmin
                                        small.text-center
                                            .fileupload.fileupload-new(data-provides='fileupload')
                                                span.btn.btn-warning.btn-file
                                                    span.fileupload-new Yeni
                                                    span.fileupload-exists Değiştir
                                                    input#favico(type="file" name="favico")
                                                span.fileupload-preview
                                                a.close.fileupload-exists(href='#' data-dismiss='fileupload' style='float: none') ×
        
                .col-lg-4.col-md-4.col-sm-6.col-xs-12
                    .form-group.row
                        .card(style="height:19rem;")
                            .card-header
                                .text-center
                                    img.card-image(src=`/img/resized/${logo.footerLogo}` width="200")

                            .card-footer.bg-blue-grey
                                h2.text-center
                                    | Footer Logo
                                    if isAdmin
                                        small.text-center
                                            .fileupload.fileupload-new(data-provides='fileupload')
                                                span.btn.btn-warning.btn-file
                                                    span.fileupload-new Yeni
                                                    span.fileupload-exists Değiştir
                                                    input#footerLogo(type="file" name="footerLogo")
                                                span.fileupload-preview
                                                a.close.fileupload-exists(href='#' data-dismiss='fileupload' style='float: none') ×
            .row.clearfix
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    .form-group.row
                        if !logo.loadingisActive
                            .alert-warning.text-center
                                h5.text-white Loading Logosu Aktif Değildir. Sitede Yüklenme Logosu Çıkmayacaktır.
                        .card(style="height:auto;")
                            .card-header
                                .text-center
                                    h5 Seçilen Logo
                                    if baseloading.toString().split(" ")[0].split("-")[0]=="spinner"
                                        div(class=`${baseloading}` role='status' style="width: 3rem; height: 3rem;")
                                    else
                                        img.card-image(src=`${baseloading}` width="100")

                        .card-footer.bg-blue-grey
                            h2.text-center
                                | Loading Logo
                                if isAdmin
                                    //- small.text-center
                                    //-     .fileupload.fileupload-new(data-provides='fileupload')
                                    //-         span.btn.btn-warning.btn-file
                                    //-             span.fileupload-new Yeni
                                    //-             span.fileupload-exists Değiştir
                                    //-             input#loadingLogo(type="file" name="loadingLogo")
                                    //-         span.fileupload-preview
                                    //-         a.close.fileupload-exists(href='#' data-dismiss='fileupload' style='float: none') ×
                                    .card.bg-light.text-center(style="height:4rem;")
                                        .body
                                            .form-group
                                                label.form-check-label Aktif
                                                .form-check.form-switch.d-flex.justify-content-center
                                                    input.form-check-input.mt-auto.p-2.bd-highlight#loadingisActive(type="checkbox" name="loadingisActive" value=`${logo.loadingisActive}` checked=logo.loadingisActive)
                                    if logo.loadingisActive
                                        .card.text-center.bg-blue-grey
                                            .header.bg-white
                                                h6
                                                    | Yükleme Yazısı
                                                h6.text-info
                                                    | İsteğe Bağlı
                                            .body(style="background-color: #FF9600")
                                                input.form-control#loadingtext(type="text" name="loadingtext" value=`${logo.loadingtext==undefined ? "" : logo.loadingtext}` placeholder="Sayfa Yükleniyor...") 
                                .card
                                    //- .card-header.bg-blue-grey
                                    //-     h6
                                    //-         | İster Kendiniz Loading Gif Yükleyin İstersenizde Aşağıdaki Hazır Loading Giflerden Birini Seçin

                                    //-     h6.text-info
                                    //-         | Hem resim yükleyip hem de aşağıdan gif seçtiyseniz sadece yükelenen dosya kaydedilecektir.
                                    //-     h6.text-info
                                    //-         | Loading Logosu Oluşturun Güzel Bir Site 
                                    //-         a(href="https://loading.io/").text-dark https://loading.io/
                                    .card-body
                                        h5.text-dark Animasyonlu Yükleme Logoları
                                        .row.mt-5

                                            .col
                                                .card.bg-blue-grey.text-center(style="height:auto;")
                                                    img.card-img-top(src=`/img/loading/2.avif` for='btnradio1'  width="100").bg-white
                                                    .card-body
                                                        .radio.text-center
                                                            
                                                            label
                                                                input(type='radio' name='loadingLogo' checked=logo.loadingLogo=="logo1.txt" ? true:false value="logo1.txt")
                                                        
                                            .col
                                                .card.bg-blue-grey.text-center(style="height:auto;")
                                                    img.card-img-top(src=`/img/loading/3.avif` for='btnradio1' width="100").bg-white
                                                    .card-body
                                                        .radio.text-center
                                                            
                                                            label
                                                                input(type='radio' name='loadingLogo' checked=logo.loadingLogo=="logo2.txt" ? true:false value="logo2.txt")
                                            .col
                                                .card.bg-blue-grey.text-center(style="height:auto;")
                                                    img.card-img-top(src=`/img/loading/4.avif` for='btnradio1' width="100").bg-white
                                                    .card-body
                                                        .radio.text-center
                                                            
                                                            label
                                                                input(type='radio' name='loadingLogo' checked=logo.loadingLogo=="logo3.txt" ? true:false value="logo3.txt")
                                                        
                                            .col
                                                .card.bg-blue-grey.text-center(style="height:auto;")
                                                    img.card-img-top(src=`/img/loading/5.avif` for='btnradio1' width="100").bg-white
                                                    .card-body
                                                        .radio.text-center
                                                            
                                                            label
                                                                input(type='radio' name='loadingLogo' checked=logo.loadingLogo=="logo4.txt" ? true:false  value="logo4.txt")
                                            .col
                                                .card.bg-blue-grey.text-center(style="height:auto;")
                                                    img.card-img-top(src=`/img/loading/6.avif` for='btnradio1' width="100").bg-white
                                                    .card-body
                                                        .radio.text-center
                                                            
                                                            label
                                                                input(type='radio' name='loadingLogo' checked=logo.loadingLogo=="logo5.txt" ? true:false  value="logo5.txt")
                                            .col
                                                .card.bg-blue-grey.text-center(style="height:auto;")
                                                    img.card-img-top(src=`/img/loading/7.avif` for='btnradio1' width="100").bg-white
                                                    .card-body
                                                        .radio.text-center
                                                            
                                                            label
                                                                input(type='radio' name='loadingLogo' checked=logo.loadingLogo=="logo6.txt" ? true:false  value="logo6.txt")
                                            .col
                                                .card.bg-blue-grey.text-center(style="height:auto;")
                                                    img.card-img-top(src=`/img/loading/8.avif` for='btnradio1' width="100").bg-white
                                                    .card-body
                                                        .radio.text-center
                                                            
                                                            label
                                                                input(type='radio' name='loadingLogo' checked=logo.loadingLogo=="logo7.txt" ? true:false  value="logo7.txt")
                                            .col
                                                .card.bg-blue-grey.text-center(style="height:auto;")
                                                    img.card-img-top(src=`/img/loading/11.avif` for='btnradio1' width="100").bg-white
                                                    .card-body
                                                        .radio.text-center
                                                            
                                                            label
                                                                input(type='radio' name='loadingLogo' checked=logo.loadingLogo=="logo8.txt" ? true:false  value="logo8.txt")
                                        h5.text-dark Performanslı Yükleme Logoları
                                        .row.mt-5
                                            .col
                                                .card.text-center.bg-light(style="height:auto;")
                                                    .spinner-border.text-primary(role='status' style="width: 3rem; height: 3rem;").m-3.mx-auto
                                                    .card-body.bg-blue-grey
                                                        .radio.text-center
                                                            
                                                            label
                                                                input(type='radio' name='loadingLogo' checked=logo.loadingLogo=="logo9.txt" ? true:false  value="logo9.txt")
                                            .col
                                                .card.text-center.bg-light(style="height:auto;")
                                                    .spinner-border.text-secondary(role='status' style="width: 3rem; height: 3rem;").m-3.mx-auto
                                                    .card-body.bg-blue-grey
                                                        .radio.text-center
                                                            
                                                            label
                                                                input(type='radio' name='loadingLogo' checked=logo.loadingLogo=="logo10.txt" ? true:false  value="logo10.txt")
                                            .col
                                                
                                                .card.text-center.bg-light(style="height:auto;")
                                                    .spinner-border.text-success(role='status' style="width: 3rem; height: 3rem;").m-3.mx-auto
                                                    .card-body.bg-blue-grey
                                                        .radio.text-center
                                                            
                                                            label
                                                                input(type='radio' name='loadingLogo' checked=logo.loadingLogo=="logo11.txt" ? true:false  value="logo11.txt")
                                            .col
                                                .card.text-center.bg-light(style="height:auto;")
                                                    .spinner-border.text-danger(role='status' style="width: 3rem; height: 3rem;").m-3.mx-auto
                                                    .card-body.bg-blue-grey
                                                        .radio.text-center
                                                            
                                                            label
                                                                input(type='radio' name='loadingLogo' checked=logo.loadingLogo=="logo12.txt" ? true:false  value="logo12.txt")
                                            .col
                                                .card.text-center.bg-light(style="height:auto;")
                                                    .spinner-border.text-warning(role='status' style="width: 3rem; height: 3rem;").m-3.mx-auto
                                                    .card-body.bg-blue-grey
                                                        .radio.text-center
                                                            
                                                            label
                                                                input(type='radio' name='loadingLogo' checked=logo.loadingLogo=="logo13.txt" ? true:false  value="logo13.txt")
                                            .col
                                                .card.text-center.bg-light(style="height:auto;")
                                                    .spinner-border.text-info(role='status' style="width: 3rem; height: 3rem;").m-3.mx-auto
                                                    .card-body.bg-blue-grey
                                                        .radio.text-center
                                                            
                                                            label
                                                                input(type='radio' name='loadingLogo' checked=logo.loadingLogo=="logo14.txt" ? true:false  value="logo14.txt")

                                            .col
                                                .card.text-center.bg-light(style="height:auto;")
                                                    .spinner-border.text-dark(role='status' style="width: 3rem; height: 3rem;").m-3.mx-auto
                                                    .card-body.bg-blue-grey
                                                        .radio.text-center
                                                            
                                                            label
                                                                input(type='radio' name='loadingLogo' checked=logo.loadingLogo=="logo15.txt" ? true:false  value="logo15.txt")





                                        .row.mt-1
                                            .col
                                                .card.text-center.bg-light(style="height:auto;")
                                                    .spinner-grow.text-primary(role='status' style="width: 3rem; height: 3rem;").m-3.mx-auto
                                                    .card-body.bg-blue-grey
                                                        .radio.text-center
                                                            
                                                            label
                                                                input(type='radio' name='loadingLogo' checked=logo.loadingLogo=="logo16.txt" ? true:false  value="logo16.txt")
                                            .col
                                                .card.text-center.bg-light(style="height:auto;")
                                                    .spinner-grow.text-secondary(role='status' style="width: 3rem; height: 3rem;").m-3.mx-auto
                                                    .card-body.bg-blue-grey
                                                        .radio.text-center
                                                            
                                                            label
                                                                input(type='radio' name='loadingLogo' checked=logo.loadingLogo=="logo17.txt" ? true:false  value="logo17.txt")
                                            .col
                                                
                                                .card.text-center.bg-light(style="height:auto;")
                                                    .spinner-grow.text-success(role='status' style="width: 3rem; height: 3rem;").m-3.mx-auto
                                                    .card-body.bg-blue-grey
                                                        .radio.text-center
                                                            
                                                            label
                                                                input(type='radio' name='loadingLogo' checked=logo.loadingLogo=="logo18.txt" ? true:false  value="logo18.txt")
                                            .col
                                                .card.text-center.bg-light(style="height:auto;")
                                                    .spinner-grow.text-danger(role='status' style="width: 3rem; height: 3rem;").m-3.mx-auto
                                                    .card-body.bg-blue-grey
                                                        .radio.text-center
                                                            
                                                            label
                                                                input(type='radio' name='loadingLogo' checked=logo.loadingLogo=="logo19.txt" ? true:false  value="logo19.txt")
                                            .col
                                                .card.text-center.bg-light(style="height:auto;")
                                                    .spinner-grow.text-warning(role='status' style="width: 3rem; height: 3rem;").m-3.mx-auto
                                                    .card-body.bg-blue-grey
                                                        .radio.text-center
                                                            
                                                            label
                                                                input(type='radio' name='loadingLogo' checked=logo.loadingLogo=="logo20.txt" ? true:false  value="logo20.txt")
                                            .col
                                                .card.text-center.bg-light(style="height:auto;")
                                                    .spinner-grow.text-info(role='status' style="width: 3rem; height: 3rem;").m-3.mx-auto
                                                    .card-body.bg-blue-grey
                                                        .radio.text-center
                                                            
                                                            label
                                                                input(type='radio' name='loadingLogo' checked=logo.loadingLogo=="logo21.txt" ? true:false  value="logo21.txt")
                                            .col
                                                .card.text-center.bg-light(style="height:auto;")
                                                    .spinner-grow.text-dark(role='status' style="width: 3rem; height: 3rem;").m-3.mx-auto
                                                    .card-body.bg-blue-grey
                                                        .radio.text-center
                                                            
                                                            label
                                                                input(type='radio' name='loadingLogo' checked=logo.loadingLogo=="logo22.txt" ? true:false  value="logo22.txt")
            if isAdmin
                .form-group.row
                    input(type="submit" value="Kaydet").btn.btn-warning.col-md-12                  

block script
    script(src='/js/image.js')