extends ../layouts/admin-layout.pug
block styles
    link(rel="stylesheet" href="/css/form.css")
    link(rel="stylesheet" href="/css/themes/image.css")
    script.jsbin(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')

block content
        if(action!=="undefined" && action==="edit")
            .alert.alert-info.alert-dismissible.fade.show(role='alert')
                strong Logo Ayarları Başarılı Bir Şekilde Güncellendi
            script.
                window.setTimeout(function() {
                    $(".alert").fadeTo(500, 0).slideUp(500, function(){
                        $(this).remove(); 
                    });
                }, 2000);
        form(action="/admin/logo" method="POST" enctype="multipart/form-data")
            input(type="hidden" name="_csrf" value=`${csrfToken}`)
            .row.clearfix
                .col-md-12
                    .form-group.row
                        .col-sm-12
                            .card.text-center.bg-blue-grey
                                .header
                                    h2.text-white
                                        | LOGO AYARLARI
            
            .row.clearfix
                .col-lg-3.col-md-3.col-sm-6.col-xs-12
                    .form-group.row
                        .card
                            .body
                                .text-center
                                    img.card-image(src=`/img/${logo.logo}` width="200")

                            .header.bg-blue-grey
                                h2.text-center
                                    | Navbar Logo
                                    if isAdmin
                                        small.text-center
                                            .fileupload.fileupload-new(data-provides='fileupload')
                                                span.btn.btn-warning.btn-file
                                                    span.fileupload-new Yeni
                                                    span.fileupload-exists Değiştir
                                                    input#logo(type="file" name="logo")
                                                span.fileupload-preview
                                                a.close.fileupload-exists(href='#' data-dismiss='fileupload' style='float: none') ×
                .col-lg-3.col-md-3.col-sm-6.col-xs-12
                    .form-group.row
                        .card
                            .body
                                .text-center
                                    img.card-image(src=`/img/${logo.favico}` width="200")

                            .header.bg-grey
                                h2.text-center
                                    | Favico Logo
                                    if isAdmin
                                        small.text-center
                                            .fileupload.fileupload-new(data-provides='fileupload')
                                                span.btn.btn-warning.btn-file
                                                    span.fileupload-new Yeni
                                                    span.fileupload-exists Değiştir
                                                    input#favico(type="file" name="favico")
                                                span.fileupload-preview
                                                a.close.fileupload-exists(href='#' data-dismiss='fileupload' style='float: none') ×
                .col-lg-3.col-md-3.col-sm-6.col-xs-12
                    .form-group.row
                        .card
                            .body
                                .text-center
                                    img.card-image(src=`/img/${logo.footerLogo}` width="200")

                            .header.bg-grey
                                h2.text-center
                                    | Footer Logo
                                    if isAdmin
                                        small.text-center
                                            .fileupload.fileupload-new(data-provides='fileupload')
                                                span.btn.btn-warning.btn-file
                                                    span.fileupload-new Yeni
                                                    span.fileupload-exists Değiştir
                                                    input#footerLogo(type="file" name="footerLogo")
                                                span.fileupload-preview
                                                a.close.fileupload-exists(href='#' data-dismiss='fileupload' style='float: none') ×
                .col-lg-3.col-md-3.col-sm-6.col-xs-12
                    .form-group.row
                        .card
                            .body
                                .text-center
                                    img.card-image(src=`/img/${logo.logo}` width="200")

                            .header.bg-grey
                                h2.text-center
                                    | Loading Logo
                                    if isAdmin
                                        small.text-center
                                            .fileupload.fileupload-new(data-provides='fileupload')
                                                span.btn.btn-warning.btn-file
                                                    span.fileupload-new Yeni
                                                    span.fileupload-exists Değiştir
                                                    input#logo(type="file" name="")
                                                span.fileupload-preview
                                                a.close.fileupload-exists(href='#' data-dismiss='fileupload' style='float: none') ×
            if isAdmin
                .form-group.row
                    input(type="submit" value="Kaydet").btn.btn-warning.col-md-12                  

block script
    script(src='/js/image.js')