extends ../layouts/admin-layout.pug
block styles
    link(rel="stylesheet" href="/css/forms.css")
    link(rel="stylesheet" href="/css/login.css")


block content
        form(action="/admin/mail" method="POST" enctype="multipart/form-data")
            input(type="hidden" name="_csrf" value=`${csrfToken}`)    
            .form-group.row
                label(for="from").col-sm-2.col-form-label from
                .col-sm-10
                    input(type="text" name="from" value=`${mail.from}`).form-control#from
            .form-group.row
                label(for="title").col-sm-2.col-form-label Title
                .col-sm-10
                    input(type="text" name="title" value=`${mail.title}`).form-control#title
            .form-group.row
                label(for="html").col-sm-2.col-form-label html
                .col-sm-10
                    textarea.form-control(id="editor" name="html" cols="30" rows="10") #{mail.html}              
            .form-group.row
                label(for="properties").col-sm-2.col-form-label properties
                .col-sm-10
                    input(type="text" name="properties" value=`${mail.properties}`).form-control#properties               
            
            //- .row.clearfix
            //-     .col-lg-3.col-md-3.col-sm-6.col-xs-12
            //-         .form-group.row
            //-             .card
            //-                 .body
            //-                     .text-center
            //-                         img.card-image(src=`/img/${logo.logo}` width="200")

            //-                 .header.bg-grey
            //-                     h2.text-center
            //-                         | Navbar Logo
            //-                         small.text-center
            //-                             .fileupload.fileupload-new(data-provides='fileupload')
            //-                                 span.btn.btn-warning.btn-file
            //-                                     span.fileupload-new Yeni
            //-                                     span.fileupload-exists Değiştir
            //-                                     input#logo(type="file" name="logo")
            //-                                 span.fileupload-preview
            //-                                 a.close.fileupload-exists(href='#' data-dismiss='fileupload' style='float: none') ×
            //-     .col-lg-3.col-md-3.col-sm-6.col-xs-12
            //-         .form-group.row
            //-             .card
            //-                 .body
            //-                     .text-center
            //-                         img.card-image(src=`/img/${logo.favico}` width="200")

            //-                 .header.bg-grey
            //-                     h2.text-center
            //-                         | Favico Logo
            //-                         small.text-center
            //-                             .fileupload.fileupload-new(data-provides='fileupload')
            //-                                 span.btn.btn-warning.btn-file
            //-                                     span.fileupload-new Yeni
            //-                                     span.fileupload-exists Değiştir
            //-                                     input#favico(type="file" name="favico")
            //-                                 span.fileupload-preview
            //-                                 a.close.fileupload-exists(href='#' data-dismiss='fileupload' style='float: none') ×
            //-     .col-lg-3.col-md-3.col-sm-6.col-xs-12
            //-         .form-group.row
            //-             .card
            //-                 .body
            //-                     .text-center
            //-                         img.card-image(src=`/img/${logo.footerLogo}` width="200")

            //-                 .header.bg-grey
            //-                     h2.text-center
            //-                         | Footer Logo
            //-                         small.text-center
            //-                             .fileupload.fileupload-new(data-provides='fileupload')
            //-                                 span.btn.btn-warning.btn-file
            //-                                     span.fileupload-new Yeni
            //-                                     span.fileupload-exists Değiştir
            //-                                     input#footerLogo(type="file" name="footerLogo")
            //-                                 span.fileupload-preview
            //-                                 a.close.fileupload-exists(href='#' data-dismiss='fileupload' style='float: none') ×
            //-     .col-lg-3.col-md-3.col-sm-6.col-xs-12
            //-         .form-group.row
            //-             .card
            //-                 .body
            //-                     .text-center
            //-                         img.card-image(src=`/img/${logo.logo}` width="200")

            //-                 .header.bg-grey
            //-                     h2.text-center
            //-                         | Loading Logo
            //-                         small.text-center
            //-                             .fileupload.fileupload-new(data-provides='fileupload')
            //-                                 span.btn.btn-warning.btn-file
            //-                                     span.fileupload-new Yeni
            //-                                     span.fileupload-exists Değiştir
            //-                                     input#logo(type="file" name="")
            //-                                 span.fileupload-preview
            //-                                 a.close.fileupload-exists(href='#' data-dismiss='fileupload' style='float: none') ×
            .form-group.row
                .col-sm-12.offset-sm-2
                    input(type="submit" value="Kaydet").btn.btn-warning.col-md-12                  
block script  
    script(src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js")
    script(src="/js/script.js") 