extends ../layouts/admin-layout.pug
block styles
    link(rel="stylesheet" href="/css/login.css")
    script(src="//cdn.ckeditor.com/4.17.1/full/ckeditor.js")
block content
        form(action="/admin/mail" method="POST" enctype="multipart/form-data")
            input(type="hidden" name="_csrf" value=`${csrfToken}`)    
            .row.clearfix
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    .form-group.row
                        .card.text-center.bg-blue-grey
                            .header
                                h2.text-white
                                    | E-POSTA AYARLARI
            .form-group.row
                .col-sm-12
                    .card.text-center.bg-blue-grey
                        .header.bg-white
                            h2
                                | GÖNDEREN MAİL ADRESİ
                                small.text-info
                                    | Sistem Ayarlarında Kaydedilen Mail
                                
                                    
                        .body
                            .form-line
                                input(type="text" name="mail" value=`${system.mail}` disabled).form-control#mail.bg-white.text-dark
            .form-group.row
                .col-sm-12
                    .card.text-center.bg-blue-grey
                        .header.bg-white
                            h2
                                | MAİL BAŞLIĞI
                                small.text-danger
                                    | Gerekli
                        .body
                            .form-line
                                input.form-control#title(type="text" name="title" value=`${mail.title}` placeholder="Kayıt İşlemi Tamamlandı")  
            .form-group.row
                .col-sm-12
                    .card.text-center.bg-blue-grey
                        .header.bg-white
                            h2
                                | AÇIKLAMA                            
                                small.text-danger
                                    | Gerekli
                                small.text-info
                                    | Resim Konulabilir (Resim Ekleme Simgesine Tıklayın > Sunucuya Gözat )
                                small.text-info
                                    | İsterseniz 
                                    a(href="https://playground.dyspatch.io/#/") dyspatch.io 
                                    | üzerinden tasarlayıp ckeditordeki kaynak butonuna tıklayıp 
                                    br
                                    |html kısmı oraya yapıştırabilirsiniz
                        .body
                            .form-line
                            textarea.form-control(id="editor" name="html" cols="30" rows="10") #{mail.html}                  
            .form-group.row
                .col-sm-12
                    .card.text-center
                        .header.bg-blue-grey
                            h2.text-white
                                | ÖN İZLEME     
                        .body.bg-white
                            p !{mail.html}
            if isAdmin
                .form-group.row
                    input(type="submit" value="Kaydet").btn.btn-warning.col-md-12                  
block script  
    script.
        CKEDITOR.replace('editor')