extends ../layouts/admin-layout.pug
block styles
    link(href='/plugins/nestable/jquery-nestable.css' rel='stylesheet')
    link(href='/css/formicon.css' rel='stylesheet')



block content
    if(action!=="undefined" && action==="edit")
        .alert.alert-info.alert-dismissible.fade.show(role='alert')
            strong Genel Ayarlar Başarılı Bir Şekilde Güncellendi
        script.
            window.setTimeout(function() {
                $(".alert").fadeTo(500, 0).slideUp(500, function(){
                    $(this).remove(); 
                });
            }, 2000);
    form(action="/admin/page" method="POST")  
        input(type="hidden" name="_csrf" value=`${csrfToken}`) 
        .row.clearfix
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .form-group.row
                    .card.text-center.bg-blue-grey
                        .header
                            h2.text-white
                                | SAYFA AYARI
                                
        .row.clearfix.text-center.d-flex.justify-content-center
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
                .card
                    .header
                        h2
                            | Navbar Ayarları
                            small Sadece sayfaların isimlerini değiştirebilir ve aktif/pasif yapabilirsiniz
                            small.text-info
                                    a(href="https://fontawesome.com/v5.15/icons/" target="_blank") https://fontawesome.com/v5.15/icons/ 
                                    |site üzerinden istediğiniz iconu seçip yapıştırabilirsiniz
                    .body
                        .clearfix.m-b-20
                            .dd
                                ol.dd-list(data-id)
                                    
                                        li.dd-item(data-home='home')
                                            .row
                                                .col-11
                                                    .input-container
                                                        span.text-center.dd-handle
                                                            i.fas.fa-align-justify
                                                        input(type="text" name="home" value=`${page.home}`)#home.form-control.text-center.input-field
                                                .col-1
                                                    .form-check.form-switch.d-flex.justify-content-center.mt-2
                                                        input.form-check-input.mt-auto.p-2.bd-highlight#isActive(type="checkbox" name="home_isActive" value=`${page.home_isActive}` checked=page.home_isActive)
                                    
                                        li.dd-item(data-products='products')
                                            .row
                                                .col-11
                                                    .input-container
                                                        span.text-center.dd-handle
                                                            i.fas.fa-align-justify
                                                        input(type="text" name="products" value=`${page.products}`)#products.form-control.text-center.input-field
                                                .col-1
                                                    .form-check.form-switch.d-flex.justify-content-center.mt-2
                                                        input.form-check-input.mt-auto.p-2.bd-highlight#isActive(type="checkbox" name="products_isActive" value=`${page.products_isActive}` checked=page.products_isActive)
                                                                            
                                        li.dd-item(data-services='services')
                                            .row
                                                .col-11
                                                    .input-container
                                                        span.text-center.dd-handle
                                                            i.fas.fa-align-justify
                                                        input(type="text" name="services" value=`${page.services}`)#services.form-control.text-center.input-field
                                                .col-1
                                                    .form-check.form-switch.d-flex.justify-content-center.mt-2
                                                        input.form-check-input.mt-auto.p-2.bd-highlight#isActive(type="checkbox" name="services_isActive" value=`${page.services_isActive}` checked=page.services_isActive)
                                        li.dd-item(data-about='about')
                                            .row
                                                .col-11
                                                    .input-container
                                                        span.text-center.dd-handle
                                                            i.fas.fa-align-justify
                                                        input(type="text" name="about" value=`${page.about}`)#about.form-control.text-center.input-field
                                                .col-1
                                                    .form-check.form-switch.d-flex.justify-content-center.mt-2
                                                        input.form-check-input.mt-auto.p-2.bd-highlight#isActive(type="checkbox" name="about_isActive" value=`${page.about_isActive}` checked=page.about_isActive)
                                        li.dd-item(data-project='project')
                                            .row
                                                .col-11
                                                    .input-container
                                                        span.text-center.dd-handle
                                                            i.fas.fa-align-justify
                                                        input(type="text" name="project" value=`${page.project}`)#project.form-control.text-center.input-field
                                                .col-1
                                                    .form-check.form-switch.d-flex.justify-content-center.mt-2
                                                        input.form-check-input.mt-auto.p-2.bd-highlight#isActive(type="checkbox" name="project_isActive" value=`${page.project_isActive}` checked=page.project_isActive)
                                        li.dd-item(data-client='client')
                                            .row
                                                .col-11
                                                    .input-container                                        
                                                        span.text-center.dd-handle
                                                            i.fas.fa-align-justify
                                                        input(type="text" name="client" value=`${page.client}`)#client.form-control.text-center.input-field
                                                .col-1
                                                    .form-check.form-switch.d-flex.justify-content-center.mt-2
                                                        input.form-check-input.mt-auto.p-2.bd-highlight#isActive(type="checkbox" name="client_isActive" value=`${page.client_isActive}` checked=page.client_isActive)
                                        li.dd-item(data-contact='contact')
                                            .row
                                                .col-11
                                                    .input-container                                        
                                                        span.text-center.dd-handle
                                                            i.fas.fa-align-justify
                                                        input(type="text" name="contact" value=`${page.contact}`)#contact.form-control.text-center.input-field
                                                .col-1
                                                    .form-check.form-switch.d-flex.justify-content-center.mt-2
                                                        input.form-check-input.mt-auto.p-2.bd-highlight#isActive(type="checkbox" name="contact_isActive" value=`${page.contact_isActive}` checked=page.contact_isActive)
                                        li.dd-item(data-contact='blog')
                                            .row
                                                .col-11
                                                    .input-container                                        
                                                        span.text-center.dd-handle
                                                            i.fas.fa-align-justify
                                                        input(type="text" name="blog" value=`${page.blog}`)#blog.form-control.text-center.input-field
                                                .col-1
                                                    .form-check.form-switch.d-flex.justify-content-center.mt-2
                                                        input.form-check-input.mt-auto.p-2.bd-highlight#isActive(type="checkbox" name="blog_isActive" value=`${page.blog_isActive}` checked=page.blog_isActive)
                                        li.dd-item(data-cart='cart')
                                            .row
                                                .col-11
                                                    .input-container
                                                        span.text-center.dd-handle
                                                            | !{page.cart}
                                                        input(type="text" name="cart" value=`${page.cart}`)#cart.form-control.text-center.input-field
                                                .col-1
                                                    .form-check.form-switch.d-flex.justify-content-center.mt-2
                                                        input.form-check-input.mt-auto.p-2.bd-highlight#isActive(type="checkbox" name="cart_isActive" value=`${page.cart_isActive}` checked=page.cart_isActive)
                                        li.dd-item(data-user='user')
                                            .row
                                                .col-11
                                                    .input-container
                                                        span.text-center.dd-handle
                                                            | !{page.user}
                                                        input(type="text" name="user" value=`${page.user}`)#user.form-control.text-center.input-field
                                                .col-1
                                                    .form-check.form-switch.d-flex.justify-content-center.mt-2
                                                        input.form-check-input.mt-auto.p-2.bd-highlight#isActive(type="checkbox" name="user_isActive" value=`${page.user_isActive}` checked=page.user_isActive)
                            
                        if isAdmin
                            .form-group.row.d-flex.justify-content-center
                                
                                    input(type="submit" value="Kaydet").btn.btn-primary.col-lg-12.col-md-12.col-sm-12.col-xs-12
block script
    include ../admin/includes/formscript.pug
    script(src='/plugins/jquery/jquery.min.js')
    script(src='/plugins/nestable/jquery.nestable.js')
    script(src='/js/pages/ui/sortable-nestable.js')