extends ../layouts/admin-layout.pug
block styles
    link(href="/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer")

block content
    if(action!=="undefined" && action==="create")
        .alert.alert-success.alert-dismissible.fade.show(role='alert')
            strong Hizmet Başarılı Bir Şekilde Eklendi
    if(action!=="undefined" && action==="delete")
        .alert.alert-warning.alert-dismissible.fade.show(role='alert')
            strong Hizmet Başarılı Bir Şekilde Güncellendi
            
    if(action!=="undefined" && action==="edit")
        .alert.alert-info.alert-dismissible.fade.show(role='alert')
            strong Hizmet Ayarları Başarılı Bir Şekilde Güncellendi
        
    script.
        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove(); 
            });
        }, 2000);

    .row.clearfix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            
            .card
                
                a(href="/admin/add-services").btn.btn-primary.btn-sm.mr-2 
                    | Yeni Hizmet Ekleme
                    
                .body
                    .table-responsive
                        table.table.table-bordered.table-striped.table-hover.dataTable.js-exportable.text-center
                            thead
                                tr
                                    th İcon
                                    th Hizmet Adı
                                    th Author

                            tfoot
                                tr
                                    th İcon
                                    th Hizmet Adı
                                    th Author

                            tbody
                                if(services.length > 0)
                                    each service in services                
                                        tr.text-center
                                            td.text-center.w-25
                                                .fa-5x
                                                    | !{service.icon}
                                            td #{service.name}
                                            td #{service.userId.name}
                                            
                                            td.position-sticky
                                                a.btn.btn-primary.btn-sm.mr-2(href=`/admin/services/${service._id}`) Edit
                                                form(action="/admin/delete-services" method="POST")
                                                    input(type="hidden" name="_csrf" value=`${csrfToken}`)  
                                                    input(type="hidden" name="serviceid" value=`${service._id}`)
                                                    button(type="submit").btn.btn-danger.btn-sm Delete
                                else
                                    p No Services
block script 
    script(src="/plugins/jquery-datatable/jquery.dataTables.js")
    script(src="/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js")
    script(src="/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js")
    script(src="/plugins/jquery-datatable/extensions/export/buttons.flash.min.js")
    script(src="/plugins/jquery-datatable/extensions/export/jszip.min.js")
    script(src="/plugins/jquery-datatable/extensions/export/pdfmake.min.js")
    script(src="/plugins/jquery-datatable/extensions/export/vfs_fonts.js")
    script(src="/plugins/jquery-datatable/extensions/export/buttons.html5.min.js")
    script(src="/plugins/jquery-datatable/extensions/export/buttons.print.min.js")
    script(src='/js/pages/tables/jquery-datatable.js')
