extends ../layouts/admin-layout.pug
block content
    if(action!=="undefined" && action==="create")
        .alert.alert-success.alert-dismissible.fade.show(role='alert')
            strong Servis Başarılı Bir Şekilde Eklendi
    if(action!=="undefined" && action==="delete")
        .alert.alert-warning.alert-dismissible.fade.show(role='alert')
            strong Servis Başarılı Bir Şekilde Güncellendi
            
    if(action!=="undefined" && action==="edit")
        .alert.alert-info.alert-dismissible.fade.show(role='alert')
            strong Servis Başarılı Bir Şekilde Silindi
        
    script.
        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove(); 
            });
        }, 2000);
    .row.clearfix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .form-group.row
                .card.text-center.bg-blue-grey
                    .header
                        h2.text-white
                            | SERVİSLER
    .row.clearfix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            
            .card
                if isAdmin
                    a(href="/admin/add-services").btn.bg-blue-grey.btn-sm
                        span 
                            i.fas.fa-plus.fa-xs.mr-2
                        |Yeni Servis Ekleme

                if services.length > 0
                    .body
                        .table-responsive
                            table.table.table-bordered.table-striped.table-hover.dataTable.js-exportable.text-center
                                thead.bg-blue-grey
                                    tr
                                        th(scope="col").align-middle #
                                        th İcon
                                        th Servis Adı
                                        th Yazar
                                        th Tarih
                                        th Aktif
                                        if isAdmin
                                            th                                          

                                tfoot.bg-blue-grey
                                    tr
                                        th(scope="col").align-middle #
                                        th İcon
                                        th Servis Adı
                                        th Yazar
                                        th Tarih
                                        th Aktif
                                        if isAdmin
                                            th
                                tbody
                                    -var index=1;
                                    each service in services  
                                        tr
                                            td(scope="row").align-middle #{index++}
                                            td 
                                                .fa-5x
                                                    | !{service.shortservices.icon}
                                            td.align-middle #{service.shortservices.name}
                                            td.align-middle #{service.shortservices.userId.name}
                                            td.align-middle #{service.shortservices.date.getHours()+":"+ service.shortservices.date.getMinutes()+" "}
                                                br                                            
                                                | #{service.shortservices.date.toLocaleDateString("tr-TR",option={year: 'numeric',month: 'long',day: 'numeric'})}
                                            td.align-middle 
                                                i(class=(service.shortservices.isActive ? "text-success fas fa-check-circle" : "text-danger fas fa-times-circle")).fa-2x
                                            if isAdmin
                                                td.align-middle.position-relative
                                                    a.btn.btn-warning.btn-sm(href=`/admin/services/${service.id}`) 
                                                        span 
                                                            i.fas.fa-edit.fa-xs
                                                    form(action="/admin/delete-services" method="POST")
                                                        input(type="hidden" name="_csrf" value=`${csrfToken}`)  
                                                        input(type="hidden" name="serviceid" value=`${service.id}`)
                                                        button(type="submit" style="height:40px; width:40px;").btn.btn-danger.btn-sm
                                                            span 
                                                                i.fas.fa-trash-alt.fa-xs
                else
                    p.text-center.align-middle Herhangi Bir Servis Mevcut Değil
block script    
    include ../admin/includes/tablescript.pug
