extends ../layouts/admin-layout.pug
block content
    if(action!=="undefined" && action==="create")
        .alert.alert-success.alert-dismissible.fade.show(role='alert')
            strong Slayt Başarılı Bir Şekilde Eklendi
    if(action!=="undefined" && action==="delete")
        .alert.alert-warning.alert-dismissible.fade.show(role='alert')
            strong Slayt Başarılı Bir Şekilde Silindi
    if(action!=="undefined" && action==="edit")
        .alert.alert-info.alert-dismissible.fade.show(role='alert')
            strong Slayt Ayarları Başarılı Bir Şekilde Güncellendi
        
    script.
        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove(); 
            });
        }, 2000);
    .row.clearfix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .form-group.row
                .card.text-center.bg-blue-grey
                    .header
                        h2.text-white
                            | SLAYTLAR
    .row.clearfix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            
            .card
                if isAdmin
                    a(href="/admin/add-slide").btn.bg-blue-grey.btn-sm
                        span 
                            i.fas.fa-plus.fa-xs.mr-2
                        | Yeni Slayt Ekleme

                if slide.length > 0
                    .body
                        .table-responsive
                            table.table.table-bordered.table-striped.table-hover.dataTable.js-exportable.text-center
                                thead.bg-blue-grey
                                    tr
                                        th(scope="col").align-middle #
                                        th Slayt Resmi
                                        th Slayt Başlığı
                                        th Yönlendirilen Link
                                        th Button Adı
                                        th Yazar
                                        th Tarih
                                        th Aktif
                                        if isAdmin
                                            th                                          

                                tfoot.bg-blue-grey
                                    tr
                                        th(scope="col").align-middle #
                                        th Slayt Resmi
                                        th Slayt Başlığı
                                        th Yönlendirilen Link
                                        th Button Adı
                                        th Yazar
                                        th Tarih
                                        th Aktif
                                        if isAdmin
                                            th  
                                tbody
                                    -var index=1;
                                    each slides in slide           
                                        tr
                                            td(scope="row").align-middle #{index++}
                                            td 
                                                img(src=`${slides.slide.image}` width='180')
                                            td.align-middle #{slides.slide.title}
                                            td.align-middle.text-center
                                                a.btn.bg-blue-grey.btn-sm.mr-2(href=`${slides.slide.buttonLink.toString().split(",")[0]}` target="_blank")
                                                    span
                                                        i.fas.fa-external-link-alt.fa-2x
                                            td.align-middle #{slides.slide.buttonName}
                                            td.align-middle #{slides.userId.name}                                                
                                            td.align-middle #{slides.date.getHours()+":"+ slides.date.getMinutes()+" "}
                                                br                                            
                                                | #{slides.date.toLocaleDateString("tr-TR",option={year: 'numeric',month: 'long',day: 'numeric'})}
                                            td.align-middle 
                                                i(class=(slides.isActive ? "text-success fas fa-check-circle" : "text-danger fas fa-times-circle")).fa-2x
                                            if isAdmin
                                                td.align-middle.position-relative
                                                    a.btn.btn-warning.btn-sm(href=`/admin/slide/${slides._id}`) 
                                                        span 
                                                            i.fas.fa-edit.fa-xs
                                                    form(action="/admin/delete-slide" method="POST")
                                                        input(type="hidden" name="_csrf" value=`${csrfToken}`)  
                                                        input(type="hidden" name="slideid" value=`${slides._id}`)
                                                        button(type="submit" style="height:40px; width:40px;").btn.btn-danger.btn-sm
                                                            span 
                                                                i.fas.fa-trash-alt.fa-xs
                else
                    p.text-center.align-middle Herhangi Bir Slayt Mevcut Değil
block script    
    include ../admin/includes/tablescript.pug
