extends ../layouts/admin-layout.pug

block styles
    include ../admin/includes/formhead.pug
    
    

block content
    if(action!=="undefined" && action==="edit")
        .alert.alert-info.alert-dismissible.fade.show(role='alert')
            strong Genel Ayarlar Başarılı Bir Şekilde Güncellendi
        script.
            window.setTimeout(function() {
                $(".alert").fadeTo(500, 0).slideUp(500, function(){
                    $(this).remove(); 
                });
            }, 2000);
    .row.clearfix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .form-group.row
                .card.text-center.bg-blue-grey
                    .header
                        h2.text-white
                            | SİSTEM AYARLARI
    if isAdmin
        .col-lg-12
        
            .demo-masked-input
                form(action="/admin/system" method="POST")  
                    input(type="hidden" name="_csrf" value=`${csrfToken}`)         
                    .row.clearfix
                        .col-md-2
                            .card.bg-light.text-center
                                .body
                                    .form-group
                                        label.form-check-label.mb-5 Bakım Modu
                                        .form-check.form-switch.d-flex.justify-content-center
                                            input.form-check-input.mt-auto.p-2.bd-highlight#mainMode(type="checkbox" name="mainMode" value=`${system.mainMode}` checked=system.mainMode)


                        .col-md-10
                            .form-group.row
                                .col-sm-12
                                    .card.text-center.bg-blue-grey
                                        .header.bg-white
                                            h2
                                                | Sitenin Linki
                                                small.text-danger
                                                    | Gerekli
                                        .body
                                            .form-line
                                                input(type="text" name="siteUrl" value=`${system.siteUrl}` placeholder="https://www.google.com").form-control#siteUrl
                    .row.clearfix
                        .col-md-6
                            .form-group.row
                                .col-sm-12
                                    .card.text-center.bg-blue-grey
                                        .header.bg-white
                                            h2
                                                | Varsayılan Dil
                                                small.text-danger
                                                    | Gerekli
                                        .body
                                            .body
                                                .form-line
                                                    select(name="language").js-animations.form-control#language
                                                        optgroup(label='Seçilen Dil')
                                                            option(value=`${system.language}`) #{system.language=="tr" ? "Türkçe" : system.language=="en" ? "İngilizce" :system.language=="ru" ? "Rusça" : system.language=="de" ? "Almanca" : system.language=="ar" ? "Arapça":""}

                                                        optgroup(label='Diğer Diller')
                                                            option(value="tr") Türkçe
                                                            option(value="en") İngilizce
                                                            option(value="ru") Rusça
                                                            option(value="de") Almanca
                                                            option(value="ar") Arapça
                        .col-md-6
                            .form-group.row
                                .col-sm-12
                                    .card.text-center.bg-blue-grey
                                        .header.bg-white
                                            h2
                                                | Telefon Numarası
                                                small.text-danger
                                                    | Gerekli
                                        .body
                                            .form-line
                                                input.form-control.mobile-phone-number(type='text' placeholder='Ex: +00 (000) 000-00-00' name="phone" value=`${system.phone}`)#phone

                    .row.clearfix                
                        
                        .col-md-6
                            .form-group.row
                                .col-sm-12
                                    .card.text-center.bg-blue-grey
                                        .header.bg-white
                                            h2
                                                | Adres
                                                small.text-danger
                                                    | Gerekli
                                        .body
                                            .form-line
                                                input(type="text" name="address" value=`${system.address}` placeholder="Merkezefendi / Denizli").form-control#address
                        
                        .col-md-6
                            .form-group.row
                                .col-sm-12
                                    .card.text-center.bg-blue-grey
                                        .header.bg-white
                                            h2
                                                | E-Posta Adresi
                                                small.text-danger
                                                    | Gerekli
                                        .body
                                            .form-line
                                                input.form-control.email#mail(type='text' name="mail" placeholder='Ex: example@example.com' value=`${system.mail}`)
                    .row
                        .col-md-6
                            .form-group.row
                                .col-sm-12
                                    .card.text-center.bg-blue-grey
                                        .header.bg-white
                                            h2
                                                | Google Maps Adresi
                                                small.text-danger
                                                    | Gerekli (Lütfen Sadece Link Alanını Yazınız)
                                                small.text-info
                                                    a(href="https://www.google.com/maps" target="_blank") Google Maps
                                                    br
                                                    | İstenilen Yeri Seçip Paylaş Butonuna Tıklayın > Harita Yerleştirme Kısmındaki Linki Yazınız

                                        .body
                                            .form-line
                                                input(type="text" name="googlemaps" value=`${system.googlemaps}` placeholder="https://www.google.com/maps/embed?....").form-control#googlemaps
                        .col-md-6
                            .form-group.row
                                .col-sm-12
                                    .card.text-center.bg-blue-grey
                                        .header.bg-white
                                            h2
                                                | SgMail Api Key
                                                small.text-danger
                                                    | Gerekli
                                                small.text-info
                                                    a(href="https://sendgrid.com/" target="_blank") SendGrid
                                                    br
                                                    a(href="https://app.sendgrid.com/settings/api_keys" target="_blank") SendGrid Create Api Key
                                                    br
                                                    | SendGrid Api Key Oluşturup Yazınız

                                        .body
                                            .form-line
                                                input(type="text" name="sgMail" value=`${system.sgMail}` placeholder="SG.pfldpsgrkoFKOKIGJMIGl.....").form-control#sgMail

                    .row
                        .col-md-12
                            .form-group.row
                                .col-sm-12
                                    .card.text-center.bg-blue-grey
                                        .header.bg-white
                                            h2
                                                | Tawk.to Script
                                                small.text-danger
                                                    | Gerekli
                                                small.text-info
                                                    a(href="https://dashboard.tawk.to/login" target="_blank") Tawk To
                                                    br
                                                    | Tawk To Dasboard Alanına Bulunan Script'i Buraya Yazınız

                                        .body
                                            .form-line
                                                textarea(type="text" name="tawktoscript" cols="10" rows="5" placeholder='<script type="text/javascript">var Tawk_API=Tawk_API||{}</script>').form-control#tawktoscript #{system.tawktoscript}
                    
                    .row
                        .col-md-12
                            .form-group.row
                                .col-sm-12
                                    .card.text-center.bg-blue-grey
                                        .header.bg-white
                                            h2
                                                | Google Analytics Script
                                                small.text-info
                                                    | İsteğe Bağlı
                                        .body
                                            .form-line
                                                textarea(type="text" name="googleAnalitcs" cols="10" rows="14" placeholder="<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){}</script>").form-control#tawktoscript #{system.googleAnalitcs}
                    .form-group.row
                        .col-md-12
                            .form-group.row
                                .col-sm-12
                                    .card.text-center.bg-blue-grey
                                        .header.bg-white
                                            h2
                                                | Web Sitesi Açıklama
                                                small.text-danger
                                                    | Gerekli
                                                small.text-info
                                                    | Web Siteyi Bir Cümle İle Açıklayınız

                                        .body
                                            .form-line
                                                input(type="text" name="description" value=`${system.description}` placeholder="Springday soğutma ve ısıtma sistemleri").form-control#sgMail
                    .form-group.row.demo-tagsinput-area
                        .col-sm-12.bg-blue-grey
                            .card.text-center
                                .header.bg-white
                                    h2
                                        | WEB SİTESİ META #TAGLERİ
                                        small.text-danger
                                            | Gerekli
                                        small.text-info
                                            | Tag Öneri için 
                                            a(href='https://keywordtool.io/google' target='_blank') https://keywordtool.io/google
                                .body
                                    .form-line
                                        input.form-control#tags(type='text' data-role='tagsinput'  name="tags" value=`${system.tags}` placeholder="Taglerinizi Buraya Giriniz")
                    .form-group.row
                        .col-sm-12
                            input(type="submit" value="Genel Ayarları Kaydet").btn.btn-warning.col-md-12
                
block script  
    include ../admin/includes/formscript.pug