extends ../layouts/admin-layout.pug
block styles
    include ../admin/includes/formhead.pug
    link(href='/plugins/nestable/jquery-nestable.css' rel='stylesheet')




block content
    
    if(action!=="undefined" && action==="edit")
        .alert.alert-info.alert-dismissible.fade.show(role='alert')
            strong Renk Ayarları Başarılı Bir Şekilde Güncellendi
        script.
            window.setTimeout(function() {
                $(".alert").fadeTo(500, 0).slideUp(500, function(){
                    $(this).remove(); 
                });
            }, 2000);


    .row.clearfix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .card.text-center
                .card-body
                    form(action="/admin/themes" method="POST")  
                        input(type="hidden" name="_csrf" value=`${csrfToken}`)
                        .row.clearfix
                            .col-md-12
                                .form-group.row
                                    .col-sm-12
                                        .card.text-center.bg-blue-grey
                                            .header
                                                h2.text-white
                                                    | WEB SİTESİ RENK AYARLARI
                        .row.clearfix
                            .col-md-6
                                .form-group.row
                                    .col-sm-12
                                        .card
                                            .header
                                                h2
                                                    | NAVBAR
                                                    small.text-danger
                                                        | Gerekli
                                            .body
                                                .row.clearfix
                                                    .col-md-6
                                                        .form-group
                                                            #cp3a.input-group.colorpicker
                                                                input.form-control.input-lg#navbarLight(type='hidden' name="navbarLight" value=`${themes.navbarLight}`)
                                                                
                                                                span.input-group-addon
                                                                    span.input-group-text.colorpicker-input-addon
                                                                        i(style="width: 12rem; height:1.5rem;")
                                                                            p.text-dark Light Mode
                                                    .col-md-6
                                                        .form-group
                                                            #cp3a.input-group.colorpicker
                                                                input.form-control.input-lg#navbarDark(type='hidden' name="navbarDark" value=`${themes.navbarDark}`)
                                                                
                                                                span.input-group-addon
                                                                    span.input-group-text.colorpicker-input-addon
                                                                        i(style="width: 12rem; height:1.5rem;")
                                                                            p.text-light Dark Mode
                            .col-md-6
                                .form-group.row
                                        .col-sm-12
                                            .card
                                                .header
                                                    h2
                                                        | CONTACT NAVBAR
                                                        small.text-danger
                                                            | Gerekli
                                                .body
                                                    .row.clearfix
                                                        .col-md-6
                                                            .form-group
                                                                #cp3a.input-group.colorpicker
                                                                    input.form-control.input-lg#infoLight(type='hidden' name="infoLight" value=`${themes.infoLight}`)
                                                                    
                                                                    span.input-group-addon
                                                                        span.input-group-text.colorpicker-input-addon
                                                                            i(style="width: 12rem; height:1.5rem;")
                                                                                p.text-dark Light Mode
                                                        .col-md-6
                                                            .form-group
                                                                #cp3a.input-group.colorpicker
                                                                    input.form-control.input-lg#infoDark(type='hidden' name="infoDark" value=`${themes.infoDark}`)
                                                                    
                                                                    span.input-group-addon
                                                                        span.input-group-text.colorpicker-input-addon
                                                                            i(style="width: 12rem; height:1.5rem;")
                                                                                p.text-light Dark Mode
                        .row.clearfix
                            .col-md-6
                                .form-group.row
                                        .col-sm-12
                                            .card
                                                .header
                                                    h2
                                                        | BODY
                                                        small.text-danger
                                                            | Gerekli
                                                .body
                                                    .row.clearfix
                                                        .col-md-6
                                                            .form-group
                                                                #cp3a.input-group.colorpicker
                                                                    input.form-control.input-lg#bodyLight(type='hidden' name="bodyLight" value=`${themes.bodyLight}`)
                                                                    
                                                                    span.input-group-addon
                                                                        span.input-group-text.colorpicker-input-addon
                                                                            i(style="width: 12rem; height:1.5rem;")
                                                                                p.text-dark Light Mode
                                                        .col-md-6
                                                            .form-group
                                                                #cp3a.input-group.colorpicker
                                                                    input.form-control.input-lg#bodyDark(type='hidden' name="bodyDark" value=`${themes.bodyDark}`)
                                                                    
                                                                    span.input-group-addon
                                                                        span.input-group-text.colorpicker-input-addon
                                                                            i(style="width: 12rem; height:1.5rem;")
                                                                                p.text-light Dark Mode
                            .col-md-6
                                    .form-group.row
                                            .col-sm-12
                                                .card
                                                    .header
                                                        h2
                                                            | CARD
                                                            small.text-danger
                                                                | Gerekli
                                                    .body
                                                        .row.clearfix
                                                                .col-md-6
                                                                    .form-group
                                                                        #cp3a.input-group.colorpicker
                                                                            input.form-control.input-lg#cardLight(type='hidden' name="cardLight" value=`${themes.cardLight}`)
                                                                            
                                                                            span.input-group-addon
                                                                                span.input-group-text.colorpicker-input-addon
                                                                                    i(style="width: 12rem; height:1.5rem;")
                                                                                        p.text-dark Light Mode
                                                                .col-md-6
                                                                    .form-group
                                                                        #cp3a.input-group.colorpicker
                                                                            input.form-control.input-lg#cardrDark(type='hidden' name="cardrDark" value=`${themes.cardrDark}`)
                                                                            
                                                                            span.input-group-addon
                                                                                span.input-group-text.colorpicker-input-addon
                                                                                    i(style="width: 12rem; height:1.5rem;")
                                                                                        p.text-light Dark Mode
                        .row.clearfix
                            .col-md-6
                                .form-group.row
                                        .col-sm-12
                                            .card
                                                .header
                                                    h2
                                                        | FOOTER
                                                        small.text-danger
                                                            | Gerekli
                                                .body
                                                    .row.clearfix
                                                        .col-md-6
                                                            .form-group
                                                                #cp3a.input-group.colorpicker
                                                                    input.form-control.input-lg#footerLight(type='hidden' name="footerLight" value=`${themes.footerLight}`)
                                                                    
                                                                    span.input-group-addon
                                                                        span.input-group-text.colorpicker-input-addon
                                                                            i(style="width: 12rem; height:1.5rem;")
                                                                                p.text-dark Light Mode
                                                        .col-md-6
                                                            .form-group
                                                                #cp3a.input-group.colorpicker
                                                                    input.form-control.input-lg#footerDark(type='hidden' name="footerDark" value=`${themes.footerDark}`)
                                                                    
                                                                    span.input-group-addon
                                                                        span.input-group-text.colorpicker-input-addon
                                                                            i(style="width: 12rem; height:1.5rem;")
                                                                                p.text-light Dark Mode
                        script.
                            $(function () {
                            $('#cp3b').colorpicker();
                            });                
                        if isAdmin
                            .form-group.row
                                .col-sm-12
                                    input(type="submit" value="Renk Ayarlarını Kaydet").btn.bg-blue-grey.col-sm-12


block script
    include ../admin/includes/formscript.pug