extends ../layouts/main-layout.pug
block styles
    link(rel="stylesheet" href="/css/form.css")
    link(rel="stylesheet" href="/css/login.css")
    
block content
    .col-lg-12
        if errorMessage
            div.alert.alert-danger.col-sm-7 #{errorMessage}
        form(action="/new-password" method="POST")
            input(type="hidden" name="_csrf" value=`${csrfToken}`)
            input(type="hidden" name="userId" value=`${userId}`)   
            input(type="hidden" name="passwordToken" value=`${passwordToken}`)
            .section
                .container
                    .row.full-height.justify-content-center
                        .col-12.text-center.align-self-center.py-5
                            .section.pb-5.pt-5.pt-sm-2.text-center
                                .card-3d-wrap.mx-auto
                                    .card-3d-wrapper
                                        .card-front
                                            .center-wrap
                                                .section.text-center
                                                    h4.mb-4.pb-3 Şifre Yenileme
                                                    if errorMessage
                                                        div.alert.alert-danger.col-sm-7 !{errorMessage} 
                                                    .form-group
                                                        i.fas.fa-lock
                                                        .mb-2
                                                        input#email.form-style(type='Password' name='Password' placeholder='Yeni Şifre'  required oninvalid="this.setCustomValidity('Lüften Yeni Şifre Alanını Boş Bırakmayınız')" oninput="this.setCustomValidity('')").form-control
                                                    .form-group
                                                        input(type="submit" value="Kaydet").btn.btn-primary.mt-4