
footer
  #footerColor.footer-wrap
    .container.first_class
      .row
        .col-md-4.col-sm-6
          h3 BE THE FIRST TO KNOW
          p
            | Get all the latest information on  Triedge Services, Events, Jobs
            | and Fairs. Sign up for our newsletter today.
        .col-md-4.col-sm-6
          if logo.footerLogo.length > 0
            img(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src=`/img/resized/${logo.footerLogo}`).deneme
        .col-md-4.col-sm-6
            .col-md-12
              .standard_social_links
                div
                  if social.facebook !==""
                    li.round-btn.btn-facebook
                      a(href=`${social.facebook}` target="_blank")
                        i.fab.fa-facebook-f
                  if social.linkedin !==""                
                    li.round-btn.btn-linkedin
                      a(href=`${social.linkedin}` target="_blank")
                        i.fab.fa-linkedin-in(aria-hidden='true')
                  if social.twitter !==""                  
                    li.round-btn.btn-twitter
                      a(href=`${social.twitter}` target="_blank")
                        i.fab.fa-twitter(aria-hidden='true')
                  if social.instagram !==""                
                    li.round-btn.btn-instagram
                      a(href=`${social.instagram}` target="_blank")
                        i.fab.fa-instagram(aria-hidden='true')
                  if social.phone !==""                
                    li.round-btn.btn-whatsapp
                      a(href=`https://api.whatsapp.com/send?phone=${social.phone}` target="_blank")
                        i.fab.fa-whatsapp(aria-hidden='true')
                  if social.mail !==""                
                    li.round-btn.btn-envelop
                      a(href=`mailto:${social.mail}` target="_blank")
                        i.fa.fa-envelope(aria-hidden='true')
    .second_class
      .container.second_class_bdr
        .row
          .col-md-3.col-sm-6
            p
              | Your one-stop career platform to find Jobs, Internships, Professional Trainings, Projects, and Volunteering Opportunities.
          .col-md-3.col-sm-6
            h3 SAYFALAR
            ul.footer-links
              if page.home !==""   
                li
                  a(href='/') !{page.home}
              if page.products !==""       
                li
                  a(href='/products' target='_blank') !{page.products}
              if page.about !==""     
                li
                  a(href='/about' target='_blank') !{page.about}
              if page.contact !==""    
                li
                  a(href='/contactus' target='_blank') !{page.contact}
              if page.client !==""    
                li
                  a(href='/client' target='_blank') !{page.client}
              if page.project !==""    
                li
                  a(href='/project' target='_blank') !{page.project}
          .col-md-3.col-sm-6
            h3 S.S.S
            ul.footer-category
              each footerabout in footerabouts
                li
                  a(href=`/about/${footerabout._id}` target="_blank") #{footerabout.name}
            .clearfix
          .col-md-3.col-sm-6
            h3 triedge Events
            ul.footer-links
              li
                a(href='#') Triedge Events
              li
                a(href='#') Jobs &amp;AMP; Internship Fair 2019
    .row
      .container-fluid
        .copyright  
          p Copyright 2019 | All Rights Reserved by TRIEDGE Solutions Pvt. Ltd.
