
footer
  #footerColor.footer-wrap
    .container.first_class
      .row
        .col-md-4.col-sm-6
          h3 #{system.title}
          p #{system.footerdescription}
        .col-md-4.col-sm-6
          //- if system.footerLogo.length > 0
          img(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src=`/img/resized/${system.footerLogo}` height="90" width="200").deneme
        .col-md-4.col-sm-6
            .col-md-12
              .standard_social_links
                div
                  if system.facebook !==""
                    li.round-btn.btn-facebook
                      a(href=`${system.facebook}` target="_blank")
                        i.icon-facebook(aria-hidden='true')
                  if system.linkedin !==""                
                    li.round-btn.btn-linkedin
                      a(href=`${system.linkedin}` target="_blank")
                        i.icon-linkedin(aria-hidden='true')
                  if system.twitter !==""                  
                    li.round-btn.btn-twitter
                      a(href=`${system.twitter}` target="_blank")
                        i.icon-twitter(aria-hidden='true')
                  if system.instagram !==""                
                    li.round-btn.btn-instagram
                      a(href=`${system.instagram}` target="_blank")
                        i.icon-instagram(aria-hidden='true')
                  if system.phone !==""                
                    li.round-btn.btn-whatsapp
                      a(href=`https://api.whatsapp.com/send?phone=${system.phone}` target="_blank")
                        i.icon-phone(aria-hidden='true')
                  if system.contactmail !==""                
                    li.round-btn.btn-envelop
                      a(href=`mailto:${system.contactmail}` target="_blank")
                        i.icon-gmail(aria-hidden='true')
    .second_class
      .container.second_class_bdr
        .row
          .col-md-3.col-sm-6
            p #{system.slogan}
          .col-md-3.col-sm-6
            h3 SAYFALAR
            ul.footer-links
              if system.home !=="" && system.home_isActive
                li
                  a(href='/') !{system.home}
              if system.products !=="" && system.products_isActive      
                li
                  a(href='/products' target='_blank') !{system.products}
              if system.about !=="" && system.about_isActive   
                li
                  a(href='/about' target='_blank') !{system.about}
              if system.contact !=="" && system.contact_isActive
                li
                  a(href='/contactus' target='_blank') !{system.contact}
              if system.client !=="" && system.client_isActive 
                li
                  a(href='/client' target='_blank') !{system.client}
              if system.project !=="" && system.project_isActive   
                li
                  a(href='/project' target='_blank') !{system.project}
              if system.project !=="" && system.blog_isActive
                li
                  a(href='/news' target='_blank') !{system.blog}
          .col-md-3.col-sm-6
            h3 S.S.S
            ul.footer-category
              each footerabout in globalvalue
                if footerabout.type=="about"
                  li
                    a(href=`/about/${footerabout.url}` target="_blank") #{footerabout.about.name}
            .clearfix
          .col-md-3.col-sm-6
            h3 #{system.blog}
            ul.footer-links
              each blogs in globalvalue
                if blogs.type=="news"
                  li
                    a(href=`/news/${blogs.url}`) #{blogs.news.title}
    .row
      .container-fluid
        .copyright  
          p !{system.alt}
