


.site-mobile-menu.site-navbar-target
    .site-mobile-menu-header
        .site-mobile-menu-close.mt-3
            span.icon-close2.js-menu-toggle
    .site-mobile-menu-body


.site-navbar-wrap(class=(active.isNavbar ? "sticky-wrapper is-sticky" : ""))
    if active.contactnavbar_isActive

        #top.site-navbar-top
            .container
                .row.align-items-center
                    .col-6
                        .d-flex.mr-auto
                            if social.linkedin!==""                        

                                a.d-flex.align-items-center.mr-4(href=`mailto:${social.mail}` target='_blank' style="text-decoration: none")
                                    span.mr-2
                                        i.far.fa-envelope
                                    span.d-none.d-md-inline-block #{social.mail}
                            if social.phone!==""                        
                            
                                a.d-flex.align-items-center.mr-auto(href=`tel://+${social.phone}` target='_blank' style="text-decoration: none")
                                    span.mr-2
                                        i.fas.fa-phone
                                    span.d-none.d-md-inline-block #{social.phone}
                    .col-6.text-right
                        .mr-auto
                            if social.facebook!==""
                                a.p-2.pl-0(href=`${social.facebook}` target='_blank')
                                    span.fab.fa-facebook       
                            if social.twitter!==""                        
                                a.p-2.pl-0(href=`${social.twitter}` target='_blank' )
                                    span.fab.fa-twitter
                            if social.instagram!==""  
                                a.p-2.pl-0(href=`${social.instagram}` target='_blank')
                                    span.fab.fa-instagram
                            if social.youtube!==""      
                                a.p-2.pl-0(href=`${social.youtube}` target='_blank')
                                    span.fab.fa-youtube
                            if social.linkedin!==""                        
                            
                                a.p-2.pl-0(href=`${social.linkedin}` target='_blank')
                                    span.fab.fa-linkedin

    #sticky-wrapper
        #navbar_top
            #lightcolor.site-navbar.site-navbar-target.js-sticky-header
                .container
                    .row
                        .col-12             

                            nav.navbar.navbar-expand-md.site-Navigation
                                a(href='/')
                                    img.card-image(src=`/img/${logo.logo}` width="150px" )
                                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                                    span.navbar-toggler-icon
                                
                                #navbarSupportedContent.collapse.navbar-collapse
                                    ul.navbar-nav.ml-auto.py-4.py-md-0
                                        li.nav-item.pl-4.pl-md-0.ml-0.ml-md-4
                                            a(href="/",class=(path==='/'?'active nav-link':'nav-link')) !{page.home}
                                        li.nav-item.pl-4.pl-md-0.ml-0.ml-md-4
                                            a(href="/contactus",class=(path==='/contactus'?'active nav-link':'nav-link')) !{page.contact}
                                        li.nav-item.pl-4.pl-md-0.ml-0.ml-md-4
                                            a(href="/products",class=(path==='/products'?'active nav-link':'nav-link')) !{page.products}
                                                
                                        li.nav-item.dropdown.megamenu-li.pl-4.pl-md-0.ml-0.ml-md-4
                                            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' delay=1000)
                                                | mega dropdown
                                            .dropdown-menu.megamenu.bg-light(aria-labelledby='navbarDropdown' style="opacity:0.95; height:auto;")
                                                .row(style="overflow-y: auto; overflow-x: hidden;")                                           
                                                    each menucategories in menucategory
                                                        .col.text-center
                                                            a.dropdown-item(href='#')

                                                                img(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src=`/img/resized/${menucategories.categoryImg}` alt="").w-25.deneme.card-img-top
                                                                
                                                                p #{menucategories.name}

                                        //- li.nav-item.pl-4.pl-md-0.ml-0.ml-md-4.active
                                        //-   a.nav-link.dropdown-toggle(data-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false') Home
                                        //-   .dropdown-menu
                                        //-     a.dropdown-item(href='#') Action
                                        //-     a.dropdown-item(href='#') Another action
                                        //-     a.dropdown-item(href='#') Something else here
                                        //-     a.dropdown-item(href='#') Another action
                                        if isAuthenticated
                                                li.nav-item.pl-4.pl-md-0.ml-0.ml-md-4.me-3.me-lg-0.dropdown
                                                    a#navbarDropdown.user.nav-link.dropdown-toggle(role='button' data-mdb-toggle='dropdown' aria-expanded='false')
                                                        span
                                                            | !{page.user}
                                                        ul.dropdown-menu(aria-labelledby='navbarDropdown')
                                                            if active.ecommarce_isActive

                                                                li
                                                                    a(href="/orders",class=(path==='/orders'?'active nav-link':'nav-link')) SİPARİŞLERİM

                                                            li
                                                                a.dropdown-item(href='#') AYARLAR

                                                            li
                                                                hr.dropdown-divider
                                                            li
                                                                a.dropdown-item(href='/logout') ÇIKIŞ
                                                if active.ecommarce_isActive
                                                
                                                    li.nav-item.pl-4.pl-md-0.ml-0.ml-md-4
                                                        a.cart.position-relative.d-inline-flex(href="/cart",class=(path==='/cart'?'active nav-link':'nav-link') aria-label='View your shopping cart')
                                                            span
                                                                | !{page.cart}

                                        else if !isAuthenticated
                                            li.nav-item.pl-4.pl-md-0.ml-0.ml-md-4.bg-light(style="width: 4rem; height: 2rem; border-radius: 5px 25px;")
                                                a.nav-link(href="/login") GİRİŞ
                                        if isAdmin || isLimited
                                            li.nav-item.pl-4.pl-md-0.ml-0.ml-md-4
                                                a(href="/admin/",class=(path==='/admin/'?'active nav-link':'nav-link'))
                                                    i.fas.fa-tachometer-alt
                                        if active.darkmode_isActive
                                            li.nav-item.pl-4.pl-md-0.ml-0.ml-md-4.pt-1
                                                .switch
                                                    i.fas.fa-adjust
                                                    div
                                                        input(type="checkbox")
                                                        span.slider.round.bg-light
                                        

        if action!=="undefined" && action==="insert"
            .row.d-flex.justify-content-center
                .col-md-3
                    .text-center
                        .alert.alert-success.show.mt-3
                            strong Ürün Başarılı Bir Şekilde Sepetinize Eklendi
        script.
            window.setTimeout(function() {
                $(".alert").fadeTo(500, 0).slideUp(500, function(){
                    $(this).remove(); 
                });
            }, 3000);
