


//- .site-mobile-menu.site-navbar-target
//-     .site-mobile-menu-header
//-         .site-mobile-menu-close.mt-3
//-             span.icon-close2.js-menu-toggle
//-     .site-mobile-menu-body


nav.site-navbar-wrap(class=(system.isNavbar ? "sticky-wrapper is-sticky" : "") style=(path==="/" ? "position:absolute;":""))
    if system.contactnavbar_isActive

        #top.site-navbar-top(style="font-size:14px;")
            .container
                .row.align-items-center
                    .col-6
                        .d-flex.mr-auto
                            if system.contactmail!==""                        

                                a.d-flex.align-items-center.mr-4(href=`mailto:${system.contactmail}` target='_blank' style="text-decoration: none" titile)
                                    span.mr-2
                                        i.icon-gmail
                                    span.d-none.d-md-inline-block.mb-2
                                        p #{system.contactmail}
                            if system.contactphone!==""                        
                            
                                a.d-flex.align-items-center.mr-auto(href=`tel://+${system.contactphone}` target='_blank' style="text-decoration: none" title=`${system.contactphone}`)
                                    span.mr-2
                                        i.icon-phone-square
                                    span.d-none.d-md-inline-block.mb-2
                                        p #{system.contactphone}
                    .col-6.text-right
                        .mr-auto
                            if system.facebook!==""
                                a.p-2.pl-0(href=`${system.facebook}` target='_blank' rel="noopener" title=`${system.facebook}`)
                                    span.icon-facebook
                            if system.twitter!==""                        
                                a.p-2.pl-0(href=`${system.twitter}` target='_blank' rel="noopener" title=`${system.twitter}`)
                                    span.icon-twitter
                            if system.instagram!==""  
                                a.p-2.pl-0(href=`${system.instagram}` target='_blank' rel="noopener" title=`${system.instagram}`)
                                    span.icon-instagram
                            if system.youtube!==""      
                                a.p-2.pl-0(href=`${system.youtube}` target='_blank' rel="noopener" title=`${system.youtube}`)
                                    span.icon-youtube
                            if system.linkedin!==""                        
                            
                                a.p-2.pl-0(href=`${system.linkedin}` target='_blank' rel="noopener" title=`${system.linkedin}` )
                                    span.icon-linkedin

    #sticky-wrapper
        #navbar_top
            #lightcolor.site-navbar.site-navbar-target.js-sticky-header
                .container
                    .row
                        .col-md-12             

                            nav.navbar.navbar-expand-lg.site-navigation
                                a(href='/')
                                    img(src=`/img/resized/${system.logo}` width="150px" height="68px" alt="Springday Logo")
                                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                                    span.navbar-toggler-icon.mr-1.mt-1.pt-2
                                        i(style="font-size:2rem;").icon-th-menu-outline

                                
                                #navbarSupportedContent.collapse.navbar-collapse(style="font-size:13px;")
                                    ul.navbar-nav.ml-auto.py-4.py-md-0
                                        if system.home!="" && system.home_isActive
                                            li(class=(path==='/'?'active':'')).pl-4.pl-md-0.ml-0.ml-md-4.nav-item
                                                a(href="/" title="Anasayfa").nav-link !{system.home}

                                        if system.products!="" && system.products_isActive
                                                
                                            li(class=(path==='/products'?'active':'')).dropdown.megamenu-li.pl-4.pl-md-0.ml-0.ml-md-4
                                                    a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true' delay=5000)
                                                        | !{system.products}
                                                    .dropdown-menu.megamenu.bg-light(aria-labelledby='navbarDropdown' style="opacity:0.95; height:auto; overflow:auto;")
                                                        .row.mb-3
                                                            .col-12
                                                                a.dropdown-item(href='/products')
                                                                    p Tüm Ürünlerimiz
                                                        .row
                                                            .col-12

                                                                hr.bg-info
                                                                p.h5 Kategoriler

                                                                .row(style="font-size: 0.6rem;")
                                                                    each menucategories in menucategory
                                                                        .col-4.text-center
                                                                            a.dropdown-item(href=`/categories/${menucategories._id}`).nav-link

                                                                                img.deneme(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="50" height="50" data-src=`/img/resized/${menucategories.categoryImg}` alt=menucategories.name style="background-color:#fff" )
                                                                                
                                                                                p #{menucategories.name}
                                        //- li(class=(path==='/admin/categories' ? 'active':''))
                                        if system.services!="" && system.services_isActive
                                        
                                            li(class=(path===('/aboutservices') ? 'active':'')).nav-item.pl-4.pl-md-0.ml-0.ml-md-4.nav-item
                                                a(href="/aboutservices").nav-link !{system.services}
                                        if system.about!="" && system.about_isActive
                                            li(class=(path==='/about'?'active':'')).dropdown.megamenu-li.pl-4.pl-md-0.ml-0.ml-md-4
                                                a#about.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='false' aria-expanded='false' delay=5000)
                                                    | !{system.about}
                                                .dropdown-menu.megamenu.bg-light(aria-labelledby='about' style="opacity:0.95; height:auto;")
                                                    .row.mb-3
                                                        .col-12
                                                            a.dropdown-item(href='/about')
                                                                p !{system.about}
                                                            hr.bg-info
                                                    .row(style="font-size:1rem")
                                                        each about in globalvalue
                                                            if about.type=="about" && about.isHome==false
                                                                .col.text-center
                                                                    a.dropdown-item(href=`/about/${about.url}`)                                                                               
                                                                        
                                                                        p !{about.about.name}
                                                                    
                                        if system.project!="" && system.project_isActive
                                        
                                            li(class=(path==='/project'?'active':'')).pl-4.pl-md-0.ml-0.ml-md-4.nav-item
                                                a(href="/project").nav-link !{system.project}
                                        if system.client!="" && system.client_isActive
                                        
                                            li(class=(path==='/client'?'active':'')).pl-4.pl-md-0.ml-0.ml-md-4.nav-item
                                                a(href="/client",class=(path==='/client'?'active nav-link':'nav-link')).nav-link !{system.client}
                                        if system.contact!="" && system.contact_isActive
                                        
                                            li(class=(path==='/contactus'?'active':'')).pl-4.pl-md-0.ml-0.ml-md-4.nav-item
                                                a(href="/contactus",class=(path==='/contactus'?'active nav-link':'nav-link')).nav-link !{system.contact}
                                        if system.blog!="" && system.blog_isActive
                                        
                                            li(class=(path==='/news'?'active':'')).pl-4.pl-md-0.ml-0.ml-md-4.nav-item
                                                a(href="/news",class=(path==='/news'?'active nav-link':'nav-link')).nav-link !{system.blog}
                                        if isAuthenticated
                                                if system.user!="" && system.user_isActive
                                                
                                                    li(class=(path==='/orders'?'active':'')).nav-item.pl-4.pl-md-0.ml-0.ml-md-4
                                                        a.nav-link.dropdown-toggle(data-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false') 
                                                            span
                                                                | !{system.user}
                                                        .dropdown-menu.bg-light
                                                            if system.ecommarce_isActive
                                                                a.dropdown-item.bg-light(href='/orders') SİPARİŞLERİM
                                                            //- a.dropdown-item(href='#') AYARLAR
                                                            a.dropdown-item.bg-light(href='/logout') ÇIKIŞ
                                                if system.ecommarce_isActive 
                                                    if system.cart!="" && system.cart_isActive
                                                        li(class=(path==='/cart'?'active':'')).nav-item.pl-4.pl-md-0.ml-0.ml-md-4
                                                            a.nav-link.cart.position-relative.d-inline-flex(href="/cart",class=(path==='/cart'?'active nav-link':'nav-link') aria-label='View your shopping cart')
                                                                span
                                                                    | !{system.cart}

                                        else if !isAuthenticated
                                            li(class=(path==='/login'?'active':'')).pl-4.pl-md-0.ml-0.ml-md-4
                                                a.nav-link(href="/login") GİRİŞ
                                        if isAdmin || isLimited
                                            li.pl-4.pl-md-0.ml-0.ml-md-4
                                                a(href="/admin/").nav-link
                                                    i.icon-dashboard
                                        if system.translate_isActive
                                            li.pl-4.pl-md-0.ml-0.ml-md-4.pt-1
                                                .dropdown.show
                                                    button#link.btn.btn-dark.btn-xs.dropdown-toggle(style="font-size:9px;" role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' translate="no")
                                                        | LANGUAGE
                                                    .dropdown-menu(aria-labelledby='link' style="overflow:scrollLeft").bg-light.text-center
                                                        .row
                                                            each langs in globalvalue
                                                                if langs.type=="lang"
                                                                    .col
                                                                        a.dropdown-item.gflag.nturl(onclick=`doGTranslate('${system.language}|${langs.lang.value}');return false;` title=`${langs.lang.lang}` )
                                                                        
                                                                            img.deneme.text-start(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src=`/img/resized/${langs.lang.imageUrl}` height='30' width='30' alt=langs.lang.lang)
                                                                            p(style="font-size:10px" translate="no") #{langs.lang.lang}


        if action!=="undefined" && action==="insert"
            .row.d-flex.justify-content-center
                .col-md-3
                    .text-center
                        .alert.alert-success.show.mt-3
                            strong Ürün Başarılı Bir Şekilde Sepetinize Eklendi
