


.site-mobile-menu.site-navbar-target
  .site-mobile-menu-header
    .site-mobile-menu-close.mt-3
      span.icon-close2.js-menu-toggle
  .site-mobile-menu-body

.site-navbar-wrap

    #top.site-navbar-top
        .container
            .row.align-items-center
                .col-6
                    .d-flex.mr-auto
                        a#mail.d-flex.align-items-center.mr-4(href='#' target='_blank' style="text-decoration: none")
                            span.mr-2
                                i.far.fa-envelope
                            span.d-none.d-md-inline-block#mail
                        a#phone.d-flex.align-items-center.mr-auto(href='#' target='_blank' style="text-decoration: none")
                            span.mr-2
                                i.fas.fa-phone
                            span#phone.d-none.d-md-inline-block
                .col-6.text-right
                    .mr-auto
                        
                        a#facebook.p-2.pl-0(href='#' target='_blank')
                            span.fab.fa-facebook       
                        a#twitter.p-2.pl-0(href='#' target='_blank' )
                            span.fab.fa-twitter
                        a#instagram.p-2.pl-0(href='#' target='_blank')
                            span.fab.fa-instagram
                        a#youtube.p-2.pl-0(href='#' target='_blank')
                            span.fab.fa-youtube
                        a#linkedin.p-2.pl-0(href='#' target='_blank')
                            span.fab.fa-linkedin

    #sticky-wrapper        
        #navbar_top
            #lightcolor.site-navbar.site-navbar-target.js-sticky-header
                .container
                    .row
                        .col-12             

                            nav.navbar.navbar-expand-md.site-navigation
                                a(href='/')
                                    img#logo.card-image(loading="lazy" width="200px" ).lazy

                                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                                    span.navbar-toggler-icon
                                #navbarSupportedContent.collapse.navbar-collapse
                                    ul.navbar-nav.ml-auto.py-4.py-md-0
                                        li.nav-item.pl-4.pl-md-0.ml-0.ml-md-4
                                            a(href="/",class=(path==='/'?'active nav-link':'nav-link')) Home
                                        li.nav-item.pl-4.pl-md-0.ml-0.ml-md-4
                                            a(href="/contactus",class=(path==='/contactus'?'active nav-link':'nav-link')) İletişim
                                        li.nav-item.pl-4.pl-md-0.ml-0.ml-md-4
                                            a(href="/products",class=(path==='/products'?'active nav-link':'nav-link')) Products
                                        
                                        li.nav-item.dropdown.megamenu-li.pl-4.pl-md-0.ml-0.ml-md-4
                                            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' delay=1000)
                                                | mega dropdown
                                            .dropdown-menu.megamenu.bg-light(aria-labelledby='navbarDropdown' style="opacity:0.95; height:12rem;")
                                                .row
                                                    .col-lg-5.col-xl-4.px-0.d-none.d-lg-block(style='background: center center url(https://images.unsplash.com/photo-1533637267520-4dfd6aa7ee93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80)no-repeat; background-size: cover;')
                                                    .col-lg-7.col-xl-8
                                                        .row
                                                            .col-lg-4.mb-4
                                                                a.dropdown-item(href='#') Action
                                                                    span(style='background: center center url(https://images.unsplash.com/photo-1533637267520-4dfd6aa7ee93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80)no-repeat; background-size: cover;')
                                                            .col-lg-4.mb-4
                                                                a.dropdown-item(href='#') Action
                                                            .col-lg-4.mb-4
                                                                a.dropdown-item(href='#') Action
                                                    

                                        //- li.nav-item.pl-4.pl-md-0.ml-0.ml-md-4.active
                                        //-   a.nav-link.dropdown-toggle(data-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false') Home
                                        //-   .dropdown-menu
                                        //-     a.dropdown-item(href='#') Action
                                        //-     a.dropdown-item(href='#') Another action
                                        //-     a.dropdown-item(href='#') Something else here
                                        //-     a.dropdown-item(href='#') Another action
                                        if isAuthenticated
                                            li.nav-item.pl-4.pl-md-0.ml-0.ml-md-4.me-3.me-lg-0.dropdown
                                                a#navbarDropdown.nav-link.dropdown-toggle(role='button' data-mdb-toggle='dropdown' aria-expanded='false')
                                                    i.fas.fa-user
                                                ul.dropdown-menu(aria-labelledby='navbarDropdown')
                                                    li
                                                        a(href="/orders",class=(path==='/orders'?'active nav-link':'nav-link')) SİPARİŞLERİM

                                                    li
                                                        a.dropdown-item(href='#') AYARLAR

                                                    li
                                                        hr.dropdown-divider
                                                    li
                                                        a.dropdown-item(href='/logout') ÇIKIŞ
                                        else if !isAuthenticated
                                            li.nav-item.pl-4.pl-md-0.ml-0.ml-md-4.bg-light(style="width: 4rem; height: 2rem; border-radius: 5px 25px;")
                                                a.nav-link(href="/login") GİRİŞ
                                        if isAdmin
                                            li.nav-item.pl-4.pl-md-0.ml-0.ml-md-4
                                                a(href="/admin/",class=(path==='/admin/'?'active nav-link':'nav-link'))
                                                    i.fas.fa-tachometer-alt
                                        if isAuthenticated
                                            li.nav-item.pl-4.pl-md-0.ml-0.ml-md-4
                                                a.cart.position-relative.d-inline-flex(href="/cart",class=(path==='/cart'?'active nav-link':'nav-link') aria-label='View your shopping cart')
                                                    i.fas.fa.fa-shopping-cart.fa-lg
                                        li.nav-item.pl-4.pl-md-0.ml-0.ml-md-4.pt-1
                                            .switch
                                                i.fas.fa-adjust
                                                div
                                                    input(type="checkbox")
                                                    span.slider.round.bg-light
                                        

script.
    $(document).ready(function() {

        $.ajax({
        async:false,
        
        url: '/api/social',

        type: 'GET',

        data: { format: 'json' },
        success: function(data) {
        mail=JSON.stringify(data.social.mail);
        parsmail=JSON.parse(mail);
        $("a#mail").attr(`href`,`mailto:${parsmail}`);
        $("span#mail").html(`${parsmail}`);

        phone=JSON.stringify(data.social.phone);
        parsphone=JSON.parse(phone);
        $("a#phone").attr(`href`,`tel://+${parsphone}`);
        $("span#phone").html(`+${parsphone}`);

        

        facebook=JSON.stringify(data.social.facebook);
        parsfacebook=JSON.parse(facebook);
        $("a#facebook").attr(`href`,`${parsfacebook}`);


        
        instagram=JSON.stringify(data.social.instagram);
        parsinstagram=JSON.parse(instagram);
        $("a#instagram").attr(`href`,`${parsinstagram}`);

        youtube=JSON.stringify(data.social.youtube);
        parsyoutube=JSON.parse(youtube);
        $("a#youtube").attr(`href`,`${parsyoutube}`);

        linkedin=JSON.stringify(data.social.linkedin);
        parslinkedin=JSON.parse(linkedin);
        $("a#linkedin").attr(`href`,`${parslinkedin}`);
        
        twitter=JSON.stringify(data.social.twitter);
        parstwitter=JSON.parse(twitter);
        $("a#twitter").attr(`href`,`${parstwitter}`);

        },
        });

    });

    
