<!DOCTYPE html>
if system.loadingisActive
    script(type='text/javascript').
        window.onload=function(){document.getElementById("yukleniy").style.display="none";} 
html(lang=`${system.language}`)
    if system.loadingisActive
        style(type='text/css').
            div.hbne{opacity:1;filter:alpha(opacity=100);position:fixed;z-index:4000;}
            div.hghd{top:0px;left:0px;}
            div.hbne{_position:absolute;}
            div.hghd{_bottom:auto;_top:expression
            (ie6=(document.documentElement.scrollTop+document.documentElement.clientHeight - 52+"px") );}
    
    include ../includes/head.pug

    body(style="min-height:400px; width:100%;")
        script(type="text/javascript").
                    function link(url) {
                    var s = document.createElement('link');
                    s.type = 'text/css';
                    s.rel = 'stylesheet';
                    s.async = true;
                    s.href = url;
                    var x = document.getElementsByTagName('head')[0];
                    x.appendChild(s);
                    }

        script(type="text/javascript").
                link("/css/icomoon/icon.min.css")
                link('https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css')
                link("/css/style.min.css")       
                link("/css/slick.css")
                link("/plugins/animate-css/animate.min.css")

        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" rel="preload"  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer")
        script(async src='/js/lazy.min.js' type="text/javascript")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js" rel="preload" type="text/javascript")



        link(data-href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css")
        link(data-href='/css/themes/nav/owl.carousel.min.css' rel='stylesheet')
        block styles

        script(type='text/javascript').
            let root=document.documentElement.style
            root.setProperty('--navbarLight', `!{system.navbarLight}`);
            root.setProperty('--navbarDark', `!{system.navbarDark}`);
            root.setProperty('--infoLight', `!{system.infoLight}`);
            root.setProperty('--infoDark', `!{system.infoDark}`);
            root.setProperty('--cardLight', `!{system.cardLight}`);
            root.setProperty('--cardDark', `!{system.cardrDark}`);
            root.setProperty('--bodyLight', `!{system.bodyLight}`);
            root.setProperty('--bodyDark', `!{system.bodyDark}`);
            root.setProperty('--footerLight', `!{system.footerLight}`);
            root.setProperty('--footerDark', `!{system.footerDark}`);
        if system.translate_isActive
            #google_translate_element2
            script(type='text/javascript').
                function googleTranslateElementInit2() {new google.translate.TranslateElement({pageLanguage:  `!{system.language}` ,autoDisplay: true}, 'google_translate_element2');}
            if path=="/"
                script(type='text/javascript' data-src='/js/googleTranslate.min.js')
            else if path!="/"
                script(type='text/javascript' async src='/js/googleTranslate.min.js')
            script(async type='text/javascript' ).
                /* <![CDATA[ */
                eval(function(p,a,c,k,e,r){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)r[e(c)]=k[c]||e(c);k=[function(e){return r[e]}];e=function(){return'\\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('6 7(a,b){n{4(2.9){3 c=2.9("o");c.p(b,f,f);a.q(c)}g{3 c=2.r();a.s(\'t\'+b,c)}}u(e){}}6 h(a){4(a.8)a=a.8;4(a==\'\')v;3 b=a.w(\'|\')[1];3 c;3 d=2.x(\'y\');z(3 i=0;i<d.5;i++)4(d[i].A==\'B-C-D\')c=d[i];4(2.j(\'k\')==E||2.j(\'k\').l.5==0||c.5==0||c.l.5==0){F(6(){h(a)},G)}g{c.8=b;7(c,\'m\');7(c,\'m\')}}',43,43,'||document|var|if|length|function|GTranslateFireEvent|value|createEvent||||||true|else|doGTranslate||getElementById|google_translate_element2|innerHTML|change|try|HTMLEvents|initEvent|dispatchEvent|createEventObject|fireEvent|on|catch|return|split|getElementsByTagName|select|for|className|goog|te|combo|null|setTimeout|500'.split('|'),0,{}))
                /* ]]> */
            style(type='text/css').
                #goog-gt-tt {display:none !important;}
                .goog-te-banner-frame {display:none !important;}
                .goog-te-menu-value:hover {text-decoration:none !important;}
                body {top:0 !important;}
                #google_translate_element2 {display:none!important;})
        include ../includes/navbar.pug

        if system.loadingisActive
            #yukleniy.hbne.hghd(style=`background-color:#fff;width:100%;height:100%;padding-top:25%; `)
                center
                    a(href="#" target='_blank' rel="noopener" style='background-color:transparent;border:none;padding:0px;margin:0px;' title="Yükleniyor")
                        if system.loadingLogo.toString().split(" ")[0].split("-")[0]=="spinner"
                            div(class=`${system.loadingLogo}` role='status' style="width: 3rem; height: 3rem;")
                        else
                            img(style='padding:0px;margin:0px;background-color:transparent;border:none; width:7rem;' src=`/img/${system.loadingLogo}`  _fcksavedurl=`/img/${system.loadingLogo}`)
                    br
                    br
                    
                    p #{system.loadingtext}
        if system.tawktoscript!="" && system.tawktoscript!=null && system.tawkto_isActive==true
            span !{system.tawktoscript}
        if system.darkmode_isActive
            style.
                .mode{
                    position:fixed;
                    bottom:7rem;
                    left:2.5rem;
                    text-align:center;
                    font-size:3rem;
                    z-index:100;
                }
            .switch.mode
                i.icon-night
                div
                    input(type="checkbox" title="Koyu veya Açık Tema")
        if system.whatsapp_isActive
        
            style.
                .float{
                position:fixed;
                bottom:2.5rem;
                left:2.5rem;
                border-radius:50px;
                text-align:center;
                font-size:3.3rem;
                z-index:100;
                }
            
            a.float(href=`https://api.whatsapp.com/send?phone=${system.phone}` rel="noopener" target='_blank' title=`${system.phone}`)
                i.icon-whatsapp1.bg-light(style="border-radius:50%;")
            
        
        #button


        block content
        #preloader
            a.back-to-top.d-flex.align-items-center.justify-content-center(href='#' title="Yukarı Çık")
        include ../includes/footer.pug
        include ../includes/script.pug

        