mixin category(category)
    if category.length>0
        .section-title.pt-2
            p KATEGORİLER        

        .container.text-center.pt-4
            .glider-contain.multiple
                .ref.mb-3
                    each categories in category
                        .media-29101
                            a(href=`/categories/${categories._id}` target="_blank" style="text-decoration:none;")
                                img.deneme.img-fluid.rounded.p-1(src=system.itemload data-src=`/img/resized/${categories.categoryImg}` loading="lazy" alt=`${categories.name}` style="width:75px; height:75px; background-color:#fff;")
                            p(style="font-size:16px;").text-center #{categories.name}
                button(title="Geri").glider-prev.ml-3
                    i(style="font-size:2.5rem;").icon-chevron-circle-left
                button(title="İleri").glider-next.mr-3
                    i(style="font-size:2.5rem;").icon-chevron-circle-right
                .dots
