
//- #blurredbackground
//- #content
mixin createSlide(slide)  
    .carousel-item
        #blurredbackground
            img.d-block.w-100.animated(alt=`${slide.title}` src=`/img/${slide.image}` class=`${slide.animate}`)
        #content
            .carousel-caption.d-none.d-md-block
                    if slide.title!=""
                        h5.animated(style='animation-delay: 1s' class=`${slide.animate}`) #{slide.title}
                    if slide.description!=""
                    
                        p.animated(style='animation-delay: 1s' class=`${slide.animate}`)
                            | #{slide.description}
                    if slide.buttonName!=""
                        p.animated(style='animation-delay: 1s' class=`${slide.animate}`)
                        
                            a(href=`${slide.buttonLink.toString().split(",")[0]}`)
                                button#button.btn.btn-warning.m-2(style="font-size: 16px;") #{slide.buttonName}

