mixin createSlide(slide)
    .carousel-item
        img.d-block.animated.item.w-100.h-auto.d-inline-block(alt=`${slide.title}` src=`/img/resized/${slide.image}` class=`${slide.animate}`)

        .carousel-caption.d-md-block
                if slide.title!=""
                    h5.animated(style='animation-delay: 1s' class=`${slide.animate}`) #{slide.title}
                if slide.description!=""
                
                    p.animated(style='animation-delay: 1s' class=`${slide.animate}`)
                        | #{slide.description}
                if slide.buttonName!=""
                    p.animated(style='animation-delay: 1s' class=`${slide.animate}`)
                    
                        a(href=`${slide.buttonLink.toString().split(",")[0]}`)
                            button.btn.btn-warning.m-2(style="font-size: 16px;") #{slide.buttonName}
