mixin popularproduct(product)
    if(product.isActive && product.popular)
        a(href=`/products/${product._id}` style="text-decoration: none;").text-dark
            .card.mt-1.bg-light#card-hover
                .row
                    .col-md-4
                        img.card-img-top.deneme.center(data-src=`/img/resized/${product.imageUrl}` src="/img/three-dots.svg" alt=`${product.name}` style="width:100px; background-color:#9E9E9E").d-flex.justify-content-center
                    .col-md-8    
                        p.card-text.align-self-center #{product.name}
                        if product.price!=null
                            p.card-text
                                small.text-muted 
                                    i.fas.fa-lira-sign  #{product.price} ₺