mixin productcard(product)
    if product.isActive    
        .col-lg-4.col-md-6.portfolio-item(class=`${product.categories[0]._id}`)
                .wsk-cp-product
                    .wsk-cp-img.text-center
                        form(action="/product/details" method="POST")
                            input(type="hidden" name="categoryid" value=`${product.categories[0]._id}`)
                            img.img-fluid.deneme(src="/img/puff.svg" data-src=`/img/resized/${product.imageUrl}` alt=`${product.name}`).w-50.card-img-top
                    .portfolio-info.wsk-cp-text
                        .category
                            span
                                a.text-white(href=`/products/${product._id}` style="text-decoration: none;")
                                    span Detaylar
                        .title-product
                            h3.card-title #{product.name}
                        .description-product.text-center
                                a(href=`/categories/${product.categories[0]._id}` style="text-decoration: none;").p-1.text-dark #{product.categories[0].name}
                        .card-footer
                            .wcf-left
                                span.price 
                                    i.fas.fa-lira-sign #{product.price}
                            if active.ecommarce_isActive
                            
                                .wcf-right
                                    form(action="/cart" method="POST")
                                        input(type="hidden" name="_csrf" value=`${csrfToken}`)  
                                        input(type="hidden" name="productId" value=`${product._id}`)
                                        button(type="submit" style="background-color:#FFC451;").btn.btn-sm.ml-3 
                                            i.fas.fa-cart-plus