extends ../layouts/main-layout.pug
include ../mixins/client.pug

block styles

    link(href='/css/project.css' rel='stylesheet')
block content
    if client.length>0
        br
        br
        br
        br
        br
        br

        header
            h1 #{page.client}
        .container
            .row
                each clients in client
                    .col-md-4.mb-5
                        .item-1(style="height:20rem;").d-flex.justify-content-center
                            a.card(href=`${clients.link}` target="_blank").bg-light
                                img.deneme(src=`/img/resized/${clients.clientlogo}` style="margin-left: auto; margin-right: auto; width: 50%;").w-75.mt-3.mb-3
                                article
                                    h1 #{clients.name}
                                    p #{clients.description}
    br
    br
    br
    +client(client)