extends ../layouts/main-layout.pug
include ../mixins/createSlide.pug
include ../mixins/services.pug
include ../mixins/productcard.pug
include ../mixins/client.pug
include ../mixins/category.pug
include ../mixins/project.pug
include ../mixins/aboutservices.pug


include ../mixins/shortservices.pug

block styles
  link(rel='stylesheet' href='/css/otherproduct.min.css' media='print' onload="this.media='all'; this.onload = null")
  link(rel='stylesheet' href='/css/project.css' media='print' onload="this.media='all'; this.onload = null")
block content
    .w-auto
      #carouselExampleIndicators.carousel.slide(data-ride="carousel" data-interval="4000")
        ol.carousel-indicators
          -var slideIndex=0;
            each slide in posts
              if slide.type=="slide"
                li.li-white.li-slide(data-slide-to=`${slideIndex}` data-target='#carouselExampleIndicators')
                -slideIndex++;
          script.
            $(".carousel-indicators .li-slide").first().addClass("active");
        .carousel-inner(role="listbox")
          each slide in posts
            if slide.type=="slide"
              .carousel-item
                img.d-block.w-100.h-auto.animated.item(alt=`${slide.slide.title}` src=`${slide.slide.image}` class=`${slide.slide.animate}` loading="lazy")

                span.carousel-caption
                    if slide.slide.title!=""
                        p.h6.animated(style='animation-delay: 0.5s' class=`${slide.slide.animate}`) #{slide.slide.title}
                    if slide.slide.description!=""
                    
                        p.animated(style='animation-delay: 1s; font-size:0.8rem' class=`${slide.slide.animate}`)
                            | #{slide.slide.description}
                    if slide.slide.buttonName!=""
                        p.animated(style='animation-delay: 1.5s' class=`${slide.slide.animate}`)
                        
                            a(href=`${slide.slide.buttonLink.toString().split(",")[0]}`)
                                button.btn.btn-warning(style="font-size: 1rem;") #{slide.slide.buttonName}
          script.
              $(".carousel-inner .carousel-item").first().addClass("active");

        a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev' title="Bir Önceki Slayt")
          span(aria-hidden='true')
            i(style="font-size:2.1rem;").icon-chevron-circle-left
        a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next' title="Bir Sonraki Slayt")
          span(aria-hidden='true')
            i(style="font-size:2.1rem;").icon-chevron-circle-right


    .container
      h2.text-center.mt-5
        strong ÜRÜNLERİMİZ

      .row

        each product in products
          +productcard(product)
        button.btn.btn-warning.col-md-12 
          a(href="/products" style="text-decoration: none;").text-dark  Daha Fazla Ürün Göster
    br
    +category(categories)
    br

    +shortservices(posts)
  
    br
    +project(posts)
    br
    
    +aboutservices(posts)
    .slide-for
    br
    +client(globalvalue) 