extends ../layouts/main-layout.pug
include ../mixins/createSlide.pug
include ../mixins/services.pug
include ../mixins/productcard.pug
include ../mixins/client.pug
include ../mixins/category.pug
include ../mixins/project.pug
include ../mixins/aboutservices.pug


include ../mixins/shortservices.pug

block styles
  script(type='text/javascript').
    link('/css/otherproduct.min.css')

    link('/css/project.css')

block content
    //- .owl-carousel.owl-1.owl-theme
    //-   each slide in posts
    //-     if slide.type=="slide"
    //-         img.owl-lazy.d-block.animated.item.w-100.h-auto.d-inline-block(alt=`${slide.slide.title}` data-src=`/img/resized/${slide.slide.image}`)
    //-         span.carousel-caption
    //-           if slide.slide.title!=""
    //-               h5.animated(style='animation-delay: 1s' class=`${slide.slide.animate}`) #{slide.slide.title}
    //-           if slide.slide.description!=""
              
    //-               p.animated(style='animation-delay: 1s' class=`${slide.slide.animate}`)
    //-                   | #{slide.slide.description}
    //-           if slide.slide.buttonName!=""
    //-               p.animated(style='animation-delay: 1s' class=`${slide.slide.animate}`)
                  
    //-                   a(href=`${slide.slide.buttonLink.toString().split(",")[0]}`)
    //-                       button.btn.btn-warning.m-2(style="font-size: 10px;") #{slide.slide.buttonName}

    //- #home.ct-header.ct-header--slider.ct-slick-custom-dots
    #carouselExampleIndicators.w-100.h-auto
      -var index=0;      
      each slide in posts
        if slide.type=="slide"
          .carousel-inner
            .ct-header.tablex.item

                img#slide.animated.w-100.h-auto(src="/img/loadmin.webp" data-lazy=`/img/resized/${slide.slide.image}` loading="lazy" alt=`${slide.slide.title}`)
                -index++;
                span.carousel-caption
                  if slide.slide.title!=""
                      h5.animated(style='animation-delay: 1s' class=`${slide.slide.animate}`) #{slide.slide.title}
                  if slide.slide.description!=""
                  
                      p.animated(style='animation-delay: 1s' class=`${slide.slide.animate}`)
                          | #{slide.slide.description}
                  if slide.slide.buttonName!=""
                      p.animated(style='animation-delay: 1s' class=`${slide.slide.animate}`)
                        a(href=`${slide.slide.buttonLink.toString().split(",")[0]}`)
                          button.btn.btn-warning.m-2(style="font-size: 1rem;") #{slide.slide.buttonName}
                if index==1
                  script.
                      $("#slide").first().attr("src",`data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7`)





    //- if posts.length>0
    //-   #carouselExampleIndicators.carousel.slide(data-ride='carousel',data-interval="2500")
    //-       ol.carousel-indicators
    //-         -var slideIndex=0;
    //-           each slide in posts
    //-             if slide.tpye=="slide"
    //-               li.li-white.li-slide(data-slide-to=`${slideIndex}` data-target='#carouselExampleIndicators')
    //-               -slideIndex++;
    //-         script.
    //-           $(".carousel-indicators .li-slide").first().addClass("active");
    //-       .carousel-inner
    //-             each slide in posts
    //-               if slide.type=="slide"
    //-                   +createSlide(slide)
    //-       a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev' title="Önceki")
    //-         span.carousel-control-prev-icon(aria-hidden='true')
    //-         span.sr-only Previous
    //-       a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next' title="Sonraki")
    //-         span.carousel-control-next-icon(aria-hidden='true')
    //-         span.sr-only Next
    //-   script.
    //-       document.querySelector(".carousel-item:first-child").classList.add("active")
    //-       document.querySelector("li").classList.add("active");
    //-   script.
    //-       $(function() {
    //-           $('.carousel-item').on('slid', function() {
    //-               var $nextImage = $('.active', this).next('.carousel-item .item').find('img');
    //-               $nextImage.attr('src', $nextImage.data('data-lazy-load-src'));
    //-           });
    //-       });

    .container
      h2.text-center
        strong ÜRÜNLERİMİZ

      .row

        each product in products
          +productcard(product)
        button.btn.btn-warning.col-md-12 
          a(href="/products" style="text-decoration: none;").text-dark  Daha Fazla Ürün Göster
    br
    br
    +category(categories)

    +shortservices(posts)
    br
    +project(posts)
    
    br
    
    +aboutservices(posts)
    br
    +client(globalvalue) 
    br