extends ../layouts/main-layout.pug
include ../mixins/client.pug

block styles
    script(type='text/javascript').
        link('/css/news.css')



block content
    br
    br
    br
    br
    .container.pb-4.pt-4.paddding
        .container.paddding
            .row.mx-0
                .col-md-8.animate-box(data-animate-effect='fadeInLeft')
                    div
                        h2.fh5co_heading.fh5co_heading_border_bottom.py-2.mb-4 #{system.blog}
                    each newes in news
                        .row
                            .col-md-12.bg-light
                                .fh5co_hover_news_img
                                    .fh5co_news_img.text-center
                                        a(href=`/news/${newes.url}` style="text-decoration: none")
                                            img(src=`/img/resized/${newes.news.imageUrl}` alt=`${newes.news.title}`).w-100.h-auto
                        .row.mb-5
                            .col-md-12.bg-light.align-middle.text-center
                                .row
                                    .col.text-center.mt-2
                                        a(href=`/news/${newes.url}` style="text-decoration: none")
                                            h3 #{newes.news.title}
                                            br
                                .row
                                    .col
                                
                                        a(href=`/news/${news.url}` style="text-decoration: none")
                                            p.h6 #{newes.newsdate}
                                hr
                                
                                .fh5co_consectetur
                                    p !{newes.news.description.toString().substr(0,250)+"..."}
                                hr
                                button.btn.btn-warning.mb-3
                                    a.text-white(href=`/news/${newes.url}` style="text-decoration: none;")
                                        span Devamı
                .col-md-3.animate-box(data-animate-effect='fadeInRight').mt-5
                    div        
                            .card.mt-4.bg-light(style="height:auto;")
                                .header.p-2
                                    h2.h5.text-center
                                        | TAG
                                .body.ml-1
                                    .d-flex.align-content-stretch.flex-wrap
                                    each newes in news
                                        -var tag=newes.news.tags[0].toString().split(",")
                                        -for (var i=0; i<tag.length; i++){
                                            button(type=button style="border-radius:30px; padding: 2px 5px;" ).btn.btn-info.btn-sm.mt-1.ml-1
                                                a(href=`/news/${newes.url}` style="text-decoration: none;").text-light #{tag[i]}
                                        -}

    +client(globalvalue)