extends ../layouts/main-layout.pug

block styles
    meta(name='robots' content='noindex')
    meta(name='google' content='nositelinkssearchbox')
    script(type='text/javascript').
        link('/css/order.css')
        link('/css/cart.css')
        link("/css/contactstyle.css")
        link("/css/style2.css")


block content
    
    .container.px-1.px-md-4.py-5.mx-auto
            
            
            if !orders.approval 
                
                if action!=="undefined" && action==="send"
                    br
                    br
                    br
                    .alert.alert-success.alert-dismissible.fade.show(role='alert')
                        strong Mesaj İletildi. Gerekli kontrollerden sonra siparişiniz onaylanacaktır.
                .card.text-white.bg-warning.text-center
                        .card-header.bg-warning 
                            i.fas.fa-exclamation-triangle.fa-5x
                        .card-body
                            h3.card-title Ödeme İşlemini Yapınız
                            .table-responsive
                                table.table.table-sm.table-dark(style="font-size:15px;")
                                    thead.table-dark
                                        tr
                                            th(scope='col') Banka
                                            th(scope='col') Hesap Sahibi
                                            th(scope='col') Hesap Türü
                                            th(scope='col') IBAN
                                    tbody
                                        each banks in bank
                                            tr.text-dark.text-center
                                                td.table-light.align-middle 
                                                    img(src=`/img/resized/${banks.imageUrl}` width='200')
                                                td.table-light.align-middle  #{banks.holder}
                                                td.table-light.align-middle  #{banks.accountType}
                                                td.table-light.align-middle  #{banks.iban}
                        .card-footer.bg-light
                            if action!=="undefined" && action==="send"
                                .alert.alert-success.alert-dismissible.fade.show(role='alert')
                                    strong Mesaj İletildi. Gerekli kontrollerden sonra siparişiniz onaylanacaktır.
                            p.h3 Bildir
                            if !orders.payment                            
                                form(action=`/orders/${orders._id}` method="POST")
                                    input(type="hidden" name="_csrf" value=`${csrfToken}`)  
                                    input(type="hidden" name="orderid" value=`${orders._id}`)
                                    button(type="submit" name="payment" value="true").btn.btn-outline-success.btn-sm ÖDEME İŞLEMİNİ YAPTIM
                            else
                                button(type="submit" name="payment" value="true" disabled).btn.btn-secondary.btn-sm ÖDEME İŞLEMİNİ YAPTIM

            .card.bg-light
                
                .row.d-flex.justify-content-center.px-3.top

                    .text-center.mt-3
                        h3.text-center
                            | SİPARİŞ 
                        br
                        span.text-primary.font-weight-bold Sipariş Id: ##{orders._id}
                    .d-flex.flex-column.text-sm-right.text-center
                        p
                        | #{orders.cargocompany===null ?"":orders.cargocompany==="undefined" ? "":orders.cargocompany}
                        span.font-weight-bold #{orders.cargonumber===null ?"":orders.cargonumber==="undefined" ? "":orders.cargonumber}
                .row.d-flex.justify-content-center.text-center
                    .col-md-12.text-center
                        ul#progressbar.text-center
                            li.active.step0
                                p.font-weight-bold
                                    | Sipariş İsteği
                                    br
                                    | Gönderildi
                            li(class=orders.approval?"active":"").step0
                                p.font-weight-bold
                                    | Siparişiniz 
                                    br
                                    | Onayladı
                            li(class=orders.cargo?"active":"").step0
                                p.font-weight-bold
                                    | Ürün Kargoya
                                    br
                                    | Verildi
                            li(class=orders.done?"active":"").step0
                                p.font-weight-bold
                                    | Ürün Teslim
                                    br
                                    | Edildi

            .table-responsive
                table.table.table-hover.text-center
                    thead.thead-dark
                        tr
                            th.align-middle 

                            th.align-middle Ürün Adı 
                            th.align-middle Adet
                            th.align-middle Toplam
                    tbody
                        each item in orders.items
                            tr.bg-dark.text-white
                                    td.align-middle.text-center
                                        .cart_item_image.mt-3
                                            a(href=`/products/${item.product._id}` target="_blank")
                                                img(src=`/img/resized/${item.product.imageUrl}` width='100')
                                    
                                    td.align-middle.text-center
                                        .cart_item_name.cart_info_col
                                            .cart_item_text #{item.product.name}
                                    td.align-middle.text-center
                                        .cart_item_quantity.cart_info_col
                                            .cart_item_text #{item.quantity}
                                    td.align-middle.text-center
                                        .cart_item_total.cart_info_col
                                            .cart_item_text #{(item.product.price)*(item.quantity)} TL
                        
                        tr.bg-secondary.text-white
                            td(colspan=2).align-middle Tarih-Saat:  #{"   "+orders.date.getDate()+"/"+orders.date.getMonth()+"/"+orders.date.getFullYear() +"   " }
                                |#{orders.date.getHours()+":"+ orders.date.getMinutes()}
                            td(colspan=2).align-middle
                                |Sipariş Toplamı:
                                - var total = 0;
                                each item in orders.items
                                    - total +=(item.product.price * item.quantity);
                                |#{"  "+total} TL
                
                section#contact.contact
                    .container(data-aos='fade-up')
                            h3.text-center Adres Bilgisi

                            .info.bg-light.p-1(style="height:15rem;")
                                .row.mb-1

                                    .col
                                        i.fas.fa-user
                                        h4 Ad Soyad
                                        p.text-start #{orders.name}
                                    br
                                    .col
                                        i.fas.fa-envelope
                                        h4 Email
                                        p.text-start #{orders.mail}
                                    br
                                    .col
                                        i.fas.fa-phone
                                        h4 Telefon
                                        p.text-start #{orders.phone}
                                    .col
                                        
                                        i.fas.fa-city
                                        h4 İl-İlçe
                                        p.text-start #{orders.city+" - "+orders.district}
                                    .col
                                        i.fas.fa-map-marker-alt
                                        h4 Detaylı Adres Bilgisi
                                        p.text-start #{orders.adress}
                                    