extends ../layouts/main-layout.pug

block content
    .container.p-100.mb-5

        if orders.length>0
            each order in orders
                .card.mb-5.bg-light.text-center
                    .card-header
                        h3 order id: ##{order._id}
                    table.table
                        thead 
                            tr 
                                th 
                                    p Image 
                                th 
                                    p Product Name
                                th 
                                    p Price
                                th 
                                    p Quantity
                        tbody
                            each item in order.items 
                                tr 
                                    td 
                                        img(src=`/img/${item.product.imageUrl}` width="80")
                                    td 
                                        p #{item.product.name}
                                    td 
                                        p #{item.product.price}
                                    td 
                                        p #{item.quantity}
                        tfoot
                            tr 
                                td(colspan="2").text-start
                                    p Saat: #{order.date.getHours()+":"+ order.date.getMinutes()}
                                    p Tarih: #{order.date.getDate()+"/"+order.date.getMonth()+"/"+order.date.getFullYear() }
                                - var total = 0;
                                each item in order.items
                                    - total +=(item.product.price * item.quantity);
                                td 
                                    p #{total} TL



        else
            h1 No Orders