extends ../layouts/main-layout.pug
include ../mixins/productspage.pug
include ../mixins/popularproduct.pug
include ../mixins/tag.pug

block content
  br
  br
  br
  br

  .container.p-100
    .row
      .col-md-9
        if path=="/products"
          h2.text-center ÜRÜNLERİMİZ
        
        else if categories.length>0
          if path==`/categories/${selectedCategory}`
            each category in categories
              if category._id==selectedCategory
                h2.text-center #{category.name}
    .row

        .col-md-9
          .row
            if products.length>0
              each product in products
                +productspage(product)
            else
              .col-md-12.portfolio-item.mt-2

                .card.bg-light
                    .card-body.cart
                        .col-sm-12.empty-cart-cls.text-center
                            img.img-fluid.mb-4.mr-3(src='/img/noproduct.png' width='300' height='300')
                            h3
                                strong Bu Kategoriye Ait Ürün Bulunamadı
                            a.btn.btn-warning.cart-btn-transform.m-3(href='/products' data-abc='true') Ürünler Sayfasına Geri Dön
        .col-md-3.pt-2
          .card.bg-light(style="height:auto;")
            .header.p-2
                h2.h5.text-center
                    | KATEGORİLER
            .body
              include ../includes/menu.pug
          if products.length > 0
            .card.mt-4.bg-light(style="height:auto;")
              .header.p-2
                  h2.h5.text-center
                      | POPÜLER ÜRÜNLER
              .body
                  each product in products
                    +popularproduct(product)
          if products.length > 0          
            .card.mt-4.bg-light(style="height:auto;")
              .header.p-2
                  h2.h5.text-center
                      | TAG
              .body.ml-1
                .d-flex.align-content-stretch.flex-wrap
                  each product in products
                    if product.isActive
                      
                      -var tag=product.tags[0].toString().split(",")
                      -for (var i=0; i<tag.length; i++){
                          button(type=button style="border-radius:30px; padding: 2px 5px;" ).btn.btn-info.btn-sm.mt-1.ml-1
                            a(href=`/products/${product._id}` style="text-decoration: none;").text-light #{tag[i]}
                      -}
block script  