extends ../layouts/main-layout.pug
include ../mixins/client.pug

block styles 
    meta(name='keywords' content=project.project.tags[0])
    meta(property='og:locale' content='tr_TR')
    meta(property='og:type' content='article')
    meta(property='og:url' content=`${system.siteUrl}/project/${project.id}`)
    meta(property='og:site_name' content=`${title}`)

    meta(property='article:section' content='Shop')
    meta(property='og:updated_time' content=`${project.project.date}`)
    meta(property='og:image:width' content='400')
    meta(property='og:image:height' content='400')
    meta(property='og:image:type' content='image/webp')

    meta(property="og:image" content=`${project.project.imageUrl}`)
    meta(property="og:title" content=`${project.project.name}`) 
    script(type='text/javascript').
        link('/css/aboutservicesdetails.css')
block content
    br
    br
    br
    br
    br
    br
    .container
        .row
            .leftcolumn
                .card.bg-light(style="border-top: 10px solid #0b5aa2;")
                    h2.text-center.itemss-head #{project.project.name}
                    img.fakeimg(src=`/img/resized/${project.project.imageUrl}`).rounded.mx-auto.d-block
                    span#description.p-3.mt-3
                        | !{project.project.description}
                    script.
                        $("span#description img").addClass("w-100 h-auto border-right-0 rounded")
                        $("span#description p").addClass("text-justify text-muted")


            .rightcolumn
                br
                .itemss.bg-light
                    .itemss-head
                        h2.text-center Diğer Projeler
                        hr
                    .itemss-body
                        if allproject.length>0
                            each projects in allproject
                                .itemss-body-content                        
                                    #card-hover
                                        a(href=`/project/${projects.url}` class=projects.url==selectedCategory?"list-group-item active":"list-group-item" style="text-decoration: none").bg-light
                                            |#{projects.project.name}
                                            i.ml-3.icon-chevron-circle-right
    br
    br
    br
    br
    +client(globalvalue)